<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.sacw.dao.inputRecord.IInputRecordMapper">
    <resultMap id="inputRecordMap" type="com.zhixin.zhfz.sacw.entity.InputRecordEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="caseNo" column="caseNo" jdbcType="VARCHAR"/>
        <result property="caseName" column="caseName" jdbcType="VARCHAR"/>
        <result property="woodsName" column="woodsName" jdbcType="VARCHAR"/>
        <result property="woodsType" column="woodsType" jdbcType="VARCHAR"/>
        <result property="count" column="count" jdbcType="INTEGER"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="location" property="location" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
        <result property="dept" column="dept" jdbcType="VARCHAR"/>
        <result property="goodsCode" column="goodsCode" jdbcType="VARCHAR"/>
        <result property="outstockable" column="outstockable" jdbcType="INTEGER"/>
        <result column="involved_id" property="involvedId" jdbcType="BIGINT"/>
        <result column="register_user_id" property="registerUserId" jdbcType="INTEGER"/>
        <result column="input_time" property="inputTime" jdbcType="TIMESTAMP"/>
        <result column="shelf_id" property="shelfId" jdbcType="INTEGER"/>
        <result column="location_id" property="locationId" jdbcType="INTEGER"/>
        <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER"/>
        <result column="case_id" property="lawCaseId" jdbcType="INTEGER"/>
        <result column="involved_type_id" property="involvedTypeId" jdbcType="INTEGER"/>
        <result column="intput_type_id" property="intputTypeId" jdbcType="INTEGER"/>
        <result column="organization_id" property="organizationId" jdbcType="INTEGER"/>
        <result column="police_id1" property="policeId1" jdbcType="INTEGER"/>
        <result column="police_id2" property="policeId2" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="outputCount" property="outputCount" jdbcType="INTEGER"/>
        <result property="labelId" column="label_id" jdbcType="INTEGER"/>
        <result property="labelNo" column="label_no" jdbcType="VARCHAR"/>
        <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="listInputRecord" resultMap="inputRecordMap"
            parameterType="java.util.Map">
        select i.uuid,i.warehouse_id AS warehouseId ,i.id as involved_id,l.ajbh caseNo,l.ajmc caseName,
        i.name woodsName,i.barcode goodsCode,
        i.detail_count count,(i.detail_count-IFNULL(i.output_count,0)) outstockable,
        cd.code_value woodsType,i.output_count outputCount
        from sa_involved i
        left join ba_case l on i.case_id=l.id
        left join xt_code cd on i.involved_type_id=cd.code_key and cd.type='INVOLVED_TYPE'
        left join sa_label lb on lb.id=i.label_id
        left join sa_warehouse iw on i.warehouse_id=iw.id
        left JOIN xt_organization t ON iw.org_id = t.id
        where i.status in(2,4,5)

        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
        <if test="caseNo !=null and caseNo !=''">
            and l.ajbh like '%${caseNo}%'
        </if>
        <if test="caseName!=null and caseName !=''">
            and l.ajmc like '%${caseName}%'
        </if>
        <if test="goodsCode!=null and goodsCode !=''">
            and i.barcode like '%${goodsCode}%'
        </if>
        <if test="labelNo !=null and labelNo !=''">
            and lb.label_no= #{labelNo}
        </if>
        <if test="outputType !=null and outputType ==2">
            and i.status not in(4,5)
        </if>
        limit ${pageStart},${rows}
    </select>
    <select id="countInputRecord" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1)
        from sa_involved i
        left join ba_case l on i.case_id=l.id
        left join xt_code cd on i.involved_type_id=cd.code_key and cd.type='INVOLVED_TYPE'
        left join sa_label lb on lb.id=i.label_id
        left join sa_warehouse iw on i.warehouse_id=iw.id
        left JOIN xt_organization t ON iw.org_id = t.id
        where i.status in(2,4,5)
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
        <if test="caseNo !=null and caseNo !=''">
            and l.ajbh like '%${caseNo}%'
        </if>
        <if test="caseName!=null and caseName !=''">
            and l.ajmc like '%${caseName}%'
        </if>
        <if test="goodsCode!=null and goodsCode !=''">
            and i.barcode like '%${goodsCode}%'
        </if>
        <if test="labelNo !=null and labelNo !=''">
            and lb.label_no= #{labelNo}
        </if>
        <if test="outputType !=null and outputType ==2">
            and i.status not in(4,5)
        </if>
    </select>

    <!--查询物品的最后一条入库记录-->
    <select id="listLastRecord" resultMap="inputRecordMap"
            parameterType="java.util.Map">
		select r.id,concat(w.name,l.name,IFNULL(s.no,'')) location,o.`name` dept from sa_input_record r
		left join sa_warehouse w on r.warehouse_id=w.id
		left join sa_location l on r.location_id=l.id
		left join sa_shelf s on r.shelf_id=s.id
		left join xt_organization o on r.organization_id=o.id
		where r.involved_id=#{involvedId}  order by r.id desc limit 1
	</select>

    <select id="getInputRecordById" resultMap="inputRecordMap"
            parameterType="Integer">
		select l.*,ilc.ajbh caseNo,ilc.ajmc caseName,ii.name woodsName,ii.barcode goodsCode,
		ii.detail_count count,(ii.detail_count-IFNULL(ii.output_count,0)) outstockable,cd.code_value woodsType,org.name dept,
		CONCAT(lo.name ,iw.name,ise.no)location
		from sa_input_record l
		left join ba_case ilc on l.case_id=ilc.id
		left join sa_involved ii on ii.id=l.involved_id
		left join xt_code cd on l.involved_type_id=cd.code_key and cd.type='INVOLVED_TYPE'
		left join sa_location lo on l.location_id=lo.id
		left join sa_warehouse iw on l.warehouse_id=iw.id
		left join sa_shelf ise on l.shelf_id=ise.id
		left join xt_organization org on l.organization_id=org.id
		where l.involved_id=#{id} order by id desc limit 1
	</select>


</mapper>