<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper	namespace="com.zhixin.zhfz.sacw.dao.input.IInputMapper">

	<resultMap id="inputMap" type="com.zhixin.zhfz.sacw.entity.InputEntity">
		<id property="id" column="id" jdbcType="INTEGER"/>
		<result property="lawCaseId" column="case_id" jdbcType="INTEGER"/>
		<result property="caseNo" column="caseNo" jdbcType="VARCHAR"/>
		<result property="caseName" column="caseName" jdbcType="VARCHAR"/>
        <result property="woodsName" column="woodsName" jdbcType="VARCHAR"/>
        <result property="woodsType" column="woodsType" jdbcType="VARCHAR"/>
        <result property="involvedId" column="involved_id" jdbcType="INTEGER"/>
        <result property="locationId" column="location_id" jdbcType="INTEGER"/>
        <result property="involvedTypeId" column="involved_type_id" jdbcType="INTEGER"/>
        <result property="inputTypeId" column="input_type_id" jdbcType="INTEGER"/>
        <result property="barcode" column="barcode" jdbcType="VARCHAR"/>
        <result property="policeId1" column="police_id1" jdbcType="INTEGER"/>
        <result property="shelfId" column="shelf_id" jdbcType="INTEGER"/>
        <result property="warehouseId" column="warehouse_id" jdbcType="INTEGER"/>
        <result property="count" column="count" jdbcType="INTEGER"/>
        <result property="inputTime" column="inputTime" jdbcType="TIMESTAMP" />
        <result property="registerUserId" column="registerUserId" jdbcType="INTEGER"/>
        <result property="registerUserName" column="registerUserName" jdbcType="VARCHAR"/>
        <result property="location" column="location" jdbcType="VARCHAR"/>
        <result property="createdTime" column="createdTime"  jdbcType="TIMESTAMP" />
        <result property="updatedTime" column="updatedTime"  jdbcType="TIMESTAMP" />
		<result property="labelId" column="label_id" jdbcType="INTEGER"/>
		<result property="labelNo" column="label_no" jdbcType="VARCHAR"/>
		<result property="op_pid" column="op_pid" jdbcType="VARCHAR"/>
		<result property="op_user_id" column="op_user_id" jdbcType="INTEGER"/>
	</resultMap>
	
	<select id="list" resultMap="inputMap"
		parameterType="java.util.Map">
		select l.id,l.involved_id,ilc.ajbh caseNo,ilc.ajmc caseName,ii.name woodsName,ii.barcode,
		ii.detail_count count,cd.code_value woodsType,l.input_time inputTime,u.real_name registerUserName,
		CONCAT(iw.name,lo.name ,IFNULL(ise.no,''))location,lb.label_no
		from sa_input_record l
		left join ba_case ilc on l.case_id=ilc.id
		left join sa_involved ii on l.involved_id=ii.id
		left join xt_code cd on l.involved_type_id=cd.code_key and cd.type='INVOLVED_TYPE'
		left join xt_user u on l.register_user_id=u.id
		left join sa_location lo on l.location_id=lo.id
		left join sa_warehouse iw on l.warehouse_id=iw.id
		left join sa_shelf ise on l.shelf_id=ise.id
		left join sa_label lb on ii.label_id=lb.id
		left JOIN xt_organization t ON  iw.org_id = t.id
		<where>
			<if test="dataAuth!=null and dataAuth!=''">
				and ${dataAuth}
			</if>
			<if test="caseNo!=null and caseNo!=''">
					and ilc.ajbh like '%${caseNo}%'
				</if>
				<if test="caseName!=null and caseName!=''">
					and ilc.ajmc like '%${caseName}%'
				</if>
				<if test="barcode !=null and barcode!=''">
					and ii.barcode =#{barcode}
				</if>
				<if test="woodsName!=null and woodsName!=''">
					and ii.name like '%${woodsName}%'
				</if>
				<if test="start_date!=null and start_date!=''">
					and l.input_time &gt;=#{start_date}
				</if>
				<if test="end_date!=null and end_date!=''">
					and l.input_time &lt;=#{end_date}
				</if>

		</where>
		order by l.input_time desc  limit ${pageStart},${rows}
	</select>
	
	
	
	<select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(1)
		from sa_input_record l
		left join ba_case ilc on l.case_id=ilc.id
		left join sa_involved ii on l.involved_id=ii.id
		left join xt_code cd on l.involved_type_id=cd.code_key and cd.type='INVOLVED_TYPE'
		left join xt_user u on l.register_user_id=u.id
		left join sa_location lo on l.location_id=lo.id
		left join sa_warehouse iw on l.warehouse_id=iw.id
		left join sa_shelf ise on l.shelf_id=ise.id
		left join sa_label lb on ii.label_id=lb.id
		left JOIN xt_organization t ON  iw.org_id = t.id
		<where>
			<if test="dataAuth!=null and dataAuth!=''">
				and ${dataAuth}
			</if>
			<if test="caseNo!=null and caseNo!=''">
				and ilc.ajbh like '%${caseNo}%'
			</if>
			<if test="caseName!=null and caseName!=''">
				and ilc.ajmc like '%${caseName}%'
			</if>
			<if test="barcode !=null and barcode!=''">
				and ii.barcode =#{barcode}
			</if>
			<if test="woodsName!=null and woodsName!=''">
				and ii.name like '%${woodsName}%'
			</if>
			<if test="start_date!=null and start_date!=''">
				and l.input_time &gt;=#{start_date}
			</if>
			<if test="end_date!=null and end_date!=''">
				and l.input_time &lt;=#{end_date}
			</if>

		</where>
	</select>
	<insert id="insert" parameterType="com.zhixin.zhfz.sacw.entity.InputEntity" keyProperty="id" useGeneratedKeys="true">
		insert into sa_input_record
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="involvedId != null and involvedId!='' " >
				involved_id,
			</if>
			<if test="registerUserId != null and registerUserId!='' " >
				register_user_id,
			</if>
			<if test="shelfId != null and shelfId!='' " >
				shelf_id,
			</if>
			<if test="locationId != null and locationId!='' " >
				location_id,
			</if>
			<if test="warehouseId != null and warehouseId!='' " >
				warehouse_id,
			</if>
			<if test="lawCaseId != null and lawCaseId!='' " >
				case_id,
			</if>
			<if test="involvedTypeId != null and involvedTypeId!='' " >
				involved_type_id,
			</if>
			<if test="inputTypeId != null and inputTypeId!='' " >
				input_type_id,
			</if>
			<if test="organizationId != null and organizationId!='' " >
				organization_id,
			</if>
			<if test="policeId1 != null and policeId1!='' " >
				police_id1,
			</if>
			<if test="op_pid != null and op_pid!='' " >
				op_pid,
			</if>
			<if test="op_user_id != null and op_user_id!='' " >
				op_user_id,
			</if>
			created_time,
			input_time
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="involvedId != null and involvedId!='' " >
				#{involvedId},
			</if>
			<if test="registerUserId != null and registerUserId!='' " >
				#{registerUserId},
			</if>
			<if test="shelfId != null and shelfId!='' " >
				#{shelfId},
			</if>
			<if test="locationId != null and locationId!='' " >
				#{locationId},
			</if>
			<if test="warehouseId != null and warehouseId!='' " >
				#{warehouseId},
			</if>
			<if test="lawCaseId != null and lawCaseId!='' " >
				#{lawCaseId},
			</if>
			<if test="involvedTypeId != null and involvedTypeId!='' " >
				#{involvedTypeId},
			</if>
			<if test="inputTypeId != null and inputTypeId!=''" >
				#{inputTypeId},
			</if>
			<if test="organizationId != null and organizationId!=''" >
				#{organizationId},
			</if>

			<if test="policeId1 != null and policeId1!='' " >
				#{policeId1},
			</if>
			<if test="op_pid != null and op_pid!='' " >
				#{op_pid},
			</if>
			<if test="op_user_id != null and op_user_id!='' " >
				#{op_user_id},
			</if>
			now(),
			now()
		</trim>
	</insert>

	
</mapper>