<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixin.zhfz.sacw.dao.combobox.IInvComboboxMapper">

    <resultMap id="comboboxResultMap" type="com.zhixin.zhfz.bacs.entity.ComboboxEntity">
        <id property="id" column="id"/>
        <result property="value" column="value"/>
        <result property="groupName" column="group_name"/>
        <result property="status" column="status"/>
        <result property="caseId" column="case_id"/>
        <result property="involvedName" column="name"/>
        <result property="organization" column="organization"/>
        <result property="warehouseId" column="warehouse_id"/>
    </resultMap>


    <!--查询保管部门-->
    <select id="listOrgByType" resultMap="comboboxResultMap" parameterType="java.util.Map">
        select DISTINCT a.id as id,a.name as value FROM  xt_organization a LEFT JOIN sa_warehouse b ON a.id= b.org_id

        WHERE
        1=1

            <if test="dataAuth !=null and dataAuth!='' ">
               AND  ${dataAuth}
            </if>
            <if test="type!=null and type !=''">
                and type='${type}'
            </if>

    </select>


    <!-- 查询字典类型-->
    <select id="listCodeCombobox" resultMap="comboboxResultMap" parameterType="java.util.Map">
		select code_key as id,code_value as value from xt_code
		where type=#{type}

	</select>

    <select id="getWareHouse" resultMap="comboboxResultMap" parameterType="java.util.Map">
			SELECT a.id  FROM sa_warehouse a WHERE a.`name` = #{name}
	</select>


    <!-- 查询仓库-->
    <select id="listInRecordByWareHouseId" resultMap="comboboxResultMap" parameterType="java.util.Map">
        select id as id,name as value from sa_warehouse
        <where>
            <if test="warehouseId!=null and warehouseId !=''">
                warehouse_id='${warehouseId}'
            </if>

        </where>
    </select>
    <!-- 查询部门列表  -->
    <select id="listAllOrganizationName" parameterType="java.util.Map" resultMap="comboboxResultMap">
        select DISTINCT t.id,t.name value from xt_organization t
        LEFT JOIN ba_case b ON b.zbdw_id = t.id
        LEFT JOIN sa_warehouse w on t.id =w.org_id
        <where>
            <if test="dataAuth !=null and dataAuth!='' ">
                ${dataAuth}
            </if>
        </where>
        order by id desc
    </select>

    <!-- 查询仓库下对应区域 -->
    <select id="listLocation" resultMap="comboboxResultMap" parameterType="java.util.Map">
        select id as id,name as value from sa_location
        <where>
            <if test="warehouseId !=null and warehouseId !=''">
                warehouse_id=#{warehouseId}
            </if>
        </where>
    </select>


    <select id="getAllInterrogateAreaName" parameterType="java.util.Map" resultMap="comboboxResultMap">
        select id as id,name as value from ba_area
        <where>
            <if test="dataAuth!=null and dataAuth!=''">
                and ${dataAuth}
            </if>
            <if test="type!=null and type!=''">
                type=#{type}
            </if>
        </where>
        order by id desc
    </select>

    <!--获取案件对应的涉案物品信息 -->
    <select id="getInvolvedByCase" parameterType="java.util.Map" resultMap="comboboxResultMap">
		select  b.id,s.name as involvedName
		from  sa_involved  s
		left join   ba_case b   on s.case_id = b.id
		where case_id=#{caseId} and status=2
	</select>

    <!-- 获取警号信息-->
    <select id="searchUser" parameterType="java.util.Map" resultMap="comboboxResultMap">
		SELECT u.* ,u.login_name
		FROM xt_user u
    	LEFT JOIN xt_organization o ON  u.organization_id = o.id
   		WHERE u.id=#{caseId} and o.id DESC
	</select>

    <select id="listInputType" resultMap="comboboxResultMap">
		select code_key as id,code_value as value from xt_code WHERE type='INV_OUTPUT_TYPE'
		and code_value not in('移交法院','移交检察院','退回检察院','退回公安局')
		order by id asc
	</select>

    <!-- 获取案件对应的涉案物品信息2222 -->
    <select id="getInvolvedByCaseId" parameterType="java.util.Map" resultMap="comboboxResultMap">
		select  s.id,s.name as involvedName
		from  sa_involved  s
		left join   ba_case b   on s.case_id = b.id
		where case_id=#{caseId} and status=2
	</select>


</mapper>