<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.bacs.dao.lawdoc.IDocSendcaseMapper" >
    <resultMap id="DocSendcaseResultMap" type="com.zhixin.zhfz.bacs.entity.DocSendcaseEntity" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="serial_id" property="serialId" jdbcType="BIGINT" />
        <result column="physical_condition" property="physicalCondition" jdbcType="VARCHAR" />
        <result column="law_procedure" property="lawProcedure" jdbcType="VARCHAR" />
        <result column="law_procedure_comment" property="lawProcedureComment" jdbcType="VARCHAR" />
        <result column="basic_facts" property="basicFacts" jdbcType="VARCHAR" />
        <result column="evidence_condition" property="evidenceCondition" jdbcType="VARCHAR" />
        <result column="deal_suggestion" property="dealSuggestion" jdbcType="VARCHAR" />
        <result column="leader_instructions" property="leaderInstructions" jdbcType="VARCHAR" />
        <result column="undertaker1" property="undertaker1" jdbcType="VARCHAR" />
        <result column="undertaker2" property="undertaker2" jdbcType="VARCHAR" />
        <result column="telephone" property="telephone" jdbcType="VARCHAR" />
        <result column="legal_member" property="legalMember" jdbcType="VARCHAR" />
    </resultMap>


    <select id="selectBySerialId" resultMap="DocSendcaseResultMap" parameterType="java.lang.Long" >
        select *,count(1)
        from ba_doc_sendcase
        where serial_id = #{serialId,jdbcType=BIGINT}
    </select>
</mapper>