<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.zhag.dao.rule.IAgRuleMapper">
    <resultMap id="ruleResultMap" type="com.zhixin.zhfz.zhag.entity.RuleInfoEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="rule_name" property="ruleName" jdbcType="VARCHAR"/>
        <result column="parent_rule_id" property="parentRuleId" jdbcType="VARCHAR"/>
        <result column="is_directories" property="isDirectories" jdbcType="VARCHAR"/>
        <result column="txnr" property="txnr" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listData" resultMap="ruleResultMap" parameterType="java.util.Map">
        select * from ag_rule_info a where 1=1
        <!-- 	<if test="id == 5" >
             and  a.authority_type =2
              </if>
            <if test="id == 6" >
             and  a.authority_type =0
              </if>  -->
    </select>
    <select id="queryChild" resultMap="ruleResultMap" parameterType="java.lang.Long">
  	select * from ag_rule_info where  parent_rule_id=#{id}
</select>
    <select id="listRule" resultMap="ruleResultMap" parameterType="java.util.Map">
  	select * from ag_rule_info where  is_directories=1
  	<if test="id!=null and id !=''">
        and id = #{id}
    </if>
</select>

    <update id="editTXContent" parameterType="java.util.Map">
        update ag_rule_info
        <set>
            <if test="editContent!= null">
                txnr = #{editContent}
            </if>
        </set>
        where id= ${editId}
    </update>
</mapper>