<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.sacw.dao.labellog.ILabelLogMapper">

    <resultMap id="labelLogMap" type="LabelLogEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="labelNo" column="label_no" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="list" resultMap="labelLogMap"
            parameterType="java.util.Map">
        select l.*,b.label_no from sa_label_log l
        left join sa_label b on l.label_id=b.id
        <where>
            <if test="dataAuth!=null and dataAuth!=''">
                and ${dataAuth}
            </if>
            <if test="labelNo !=null and labelNo!=''">
                and b.label_no like '%${labelNo}%'
            </if>
            <if test="icNo!=null and icNo!=''">
                and b.ic_no like '%${icNo}%'
            </if>
            <if test="description!=null and description!=''">
                and l.description like '%${description}%'
            </if>
            <if test="type!=null and type==3">
                and l.type =0
            </if>
            <if test="type!=null and type!=99 and type!=3 ">
                and l.type =#{type}
            </if>
            <if test="warehouseId!=null and warehouseId!=''">
                and b.warehouse_id =${warehouseId}
            </if>
            <if test=" startTime!=null and endTime !=''">
                and l.created_time between #{startTime} and #{endTime}
            </if>
        </where>
        order by l.id desc limit ${pageStart},${rows}
    </select>


    <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from sa_label_log l
        left join sa_label b on l.label_id=b.id
        <where>
            <if test="dataAuth!=null and dataAuth!=''">
                and ${dataAuth}
            </if>
            <if test="labelNo !=null and labelNo!=''">
                and b.label_no like '%${labelNo}%'
            </if>
            <if test="icNo!=null and icNo!=''">
                and b.ic_no like '%${icNo}%'
            </if>
            <if test="description!=null and description!=''">
                and l.description like '%${description}%'
            </if>
            <if test="type!=null and type==3">
                and l.type =0
            </if>
            <if test="type!=null and type!=99 and type!=3 ">
                and l.type =#{type}
            </if>
            <if test="warehouseId!=null and warehouseId!=''">
                and b.warehouse_id =${warehouseId}
            </if>
            <if test="startTime!=null and endTime !=''">
                and l.created_time between #{startTime} and #{endTime}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="LabelLogEntity" keyProperty="id" useGeneratedKeys="true">
        insert into sa_label_log (label_id, type, description, created_time) values
        (#{labelId},#{type},#{description},now())
    </insert>

    <delete id="delete" parameterType="int">
        delete from sa_label_log where id=#{id}
    </delete>

</mapper>