<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.sacw.dao.sapositiondevice.ISaPositionDeviceMapper">
    <resultMap id="BaseResultMap" type="com.zhixin.zhfz.sacw.entity.SaPositionDeviceEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="device_no" property="deviceNo" jdbcType="INTEGER"/>
        <result column="lebel_id" property="labelId" jdbcType="INTEGER"/>
        <result column="device_id" property="deviceId" jdbcType="INTEGER"/>
        <result column="send_time" property="sendTime" jdbcType="TIMESTAMP"/>
        <result column="low_power" property="lowPower" jdbcType="INTEGER"/>
        <result column="device_type" property="deviceType" jdbcType="INTEGER"/>
        <result column="mode" property="mode" jdbcType="VARCHAR"/>
        <result column="group_name" property="groupName" jdbcType="VARCHAR"/>
        <result column="group_no" property="groupNo" jdbcType="INTEGER"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="area_id" property="areaId" jdbcType="INTEGER"/>
        <result column="areaName" property="areaName" jdbcType="VARCHAR"/>
        <result column="room_name" property="roomName" jdbcType="VARCHAR"/>
        <result column="room_id" property="roomId" jdbcType="INTEGER"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER"/>
        <result column="location_id" property="locationId" jdbcType="INTEGER"/>
        <result column="warehouseName" property="warehouseName" jdbcType="VARCHAR"/>
        <result column="locationName" property="locationName" jdbcType="VARCHAR"/>
        <result property="op_pid" column="op_pid" jdbcType="VARCHAR"/>
        <result property="op_user_id" column="op_user_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--  查询所有涉案定位设备  -->
    <select id="list" resultMap="BaseResultMap" parameterType="java.util.Map">
        select d.*, a.name as warehouseName ,l.name locationName
        from sa_position_device d,sa_warehouse a,sa_location l ,xt_organization o
        where a.id=d.warehouse_id and l.id=d.location_id AND a.org_id = o.id
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
        <if test="deviceNo!=null and deviceNo!=''">
            and d.device_no like '%${deviceNo}%'
        </if>
        <if test="warehouseId!=null and warehouseId!=''">
            and d.warehouse_id =${warehouseId}
        </if>
        <if test="location!=null and location!=''">
            and d.location_id =${location}
        </if>
        order by d.created_time desc limit ${pageStart},${rows}
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from sa_position_device d,sa_warehouse a,xt_organization o where a.id=d.warehouse_id AND
        a.org_id = o.id
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
        <if test="deviceNo!=null and deviceNo!=''">
            and d.device_no like '%${deviceNo}%'
        </if>
        <if test="warehouseId!=null and warehouseId!=''">
            and d.warehouse_id =${warehouseId}
        </if>
    </select>

    <insert id="insert" parameterType="com.zhixin.zhfz.sacw.entity.SaPositionDeviceEntity">
        insert into sa_position_device (device_no,device_type,mode,group_name,group_no, ip, description, warehouse_id,
        location_id,op_pid,op_user_id, created_time)
        values (#{deviceNo,jdbcType=INTEGER},#{deviceType,jdbcType=INTEGER}, #{mode,jdbcType=VARCHAR},
        #{groupName,jdbcType=INTEGER},#{groupNo,jdbcType=INTEGER},#{ip,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR},
        #{warehouseId,jdbcType=INTEGER},
        #{locationId,jdbcType=INTEGER},#{op_pid,jdbcType=VARCHAR},#{op_user_id,jdbcType=INTEGER}, now())
    </insert>

    <update id="update" parameterType="com.zhixin.zhfz.sacw.entity.SaPositionDeviceEntity">
        update sa_position_device
        set device_no = #{deviceNo,jdbcType=INTEGER},
        device_type = #{deviceType,jdbcType=INTEGER},
        mode = #{mode,jdbcType=VARCHAR},
        group_name = #{groupName,jdbcType=INTEGER},
        group_no = #{groupNo,jdbcType=INTEGER},
        ip = #{ip,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        warehouse_id = #{warehouseId,jdbcType=INTEGER},
        location_id = #{locationId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="int">
        delete from sa_position_device where id=#{id}
    </delete>
</mapper>