<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.sacw.dao.sacamera.ISaCameraMapper">

    <resultMap id="cameraMap" type="SaCameraEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="channel" column="channel" jdbcType="VARCHAR"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="port" column="port" jdbcType="INTEGER"/>
        <result property="screen" column="screen" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="download" column="is_download" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="nvrName" column="nvrName" jdbcType="VARCHAR"/>
        <result property="nvrId" column="nvr_id" jdbcType="INTEGER"/>
        <result property="vender" column="vender" jdbcType="VARCHAR"/>
        <result property="areaName" column="areaname" jdbcType="VARCHAR"/>
        <result property="areaId" column="area_id" jdbcType="INTEGER"/>
        <result property="roomName" column="roomname" jdbcType="VARCHAR"/>
        <result property="roomId" column="room_id" jdbcType="INTEGER"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="cameraNo" column="camera_no" jdbcType="VARCHAR"/>
        <result property="warehouseId" column="warehouse_id" jdbcType="INTEGER"/>
        <result property="warehouseName" column="warehouseName" jdbcType="VARCHAR"/>
        <result property="locationId" column="location_id" jdbcType="INTEGER"/>
        <result property="locationName" column="locationName" jdbcType="VARCHAR"/>
        <result property="op_pid" column="op_pid" jdbcType="VARCHAR"/>
        <result property="op_user_id" column="op_user_id" jdbcType="INTEGER"/>
    </resultMap>

    <select id="list" resultMap="cameraMap"
            parameterType="java.util.Map">
        select c.*,n.`name` as nvrName,r.name as warehouseName,m.`name` as locationName
        from sa_camera c
        left join sa_nvr n on c.nvr_id=n.id
        left join sa_warehouse r on c.warehouse_id=r.id
        left join sa_location m on c.location_id=m.id
        LEFT JOIN xt_organization o on r.org_id = o.id
        <where>
            <if test="warehouseId!=null and warehouseId !=''">
                and c.warehouse_id=#{warehouseId}
            </if>
            <if test="nvrId!=null and nvrId !=''">
                and c.nvr_id=#{nvrId}
            </if>
            <if test="locationId!=null and locationId !=''">
                and c.location_id=#{locationId}
            </if>
            <if test="name!=null and name !=''">
                and c.name like '%${name}%'
            </if>
            <if test="dataAuth!=null and dataAuth!=''">
                and ${dataAuth}
            </if>
        </where>
        order by c.created_time desc limit ${pageStart},${rows}
    </select>


    <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from sa_camera c
        left join sa_nvr n on c.nvr_id=n.id
        left join sa_warehouse r on c.warehouse_id=r.id
        left join ba_room m on c.location_id=m.id
        LEFT JOIN xt_organization o on r.org_id = o.id
        <where>
            <if test="warehouseId!=null and warehouseId !=''">
                and c.warehouse_id=#{warehouseId}
            </if>
            <if test="nvrId!=null and nvrId !=''">
                and c.nvr_id=#{nvrId}
            </if>
            <if test="locationId!=null and locationId !=''">
                and c.location_id=#{locationId}
            </if>
            <if test="name!=null and name !=''">
                and c.name like '%${name}%'
            </if>
            <if test="dataAuth!=null and dataAuth!=''">
                and ${dataAuth}
            </if>
        </where>
    </select>

    <select id="getCameraByRoomID" resultMap="cameraMap" parameterType="java.util.Map">
        select * from sa_camera where screen='主画面' and location_id=#{locationId}

    </select>

    <insert id="insert" parameterType="SaCameraEntity" keyProperty="id" useGeneratedKeys="true">
        insert into sa_camera (name, channel, ip, account, password,
        port, screen, type,is_download,
        description,nvr_id, vender,camera_no, warehouse_id, location_id,
        op_pid,op_user_id,created_time) values
        (#{name},#{channel},#{ip},#{account},#{password},#{port},
        #{screen},#{type},#{download},#{description},
        #{nvrId},#{vender},#{cameraNo},#{warehouseId},#{locationId},#{op_pid},#{op_user_id},now())
    </insert>


    <update id="update" parameterType="java.util.Map">
        update sa_camera set updated_time=now(),is_download = #{download}
        <if test="name!= null and name!=''">
            ,name = #{name}
        </if>
        <if test="channel!= null and channel!=''">
            ,channel = #{channel}
        </if>
        <if test="ip!= null and ip!=''">
            ,ip = #{ip}
        </if>
        <if test="account!= null and account!=''">
            ,account = #{account}
        </if>
        <if test="password!= null and password!=''">
            ,password = #{password}
        </if>
        <if test="port!= null and port!=''">
            ,port = #{port}
        </if>
        <if test="screen!= null and screen!=''">
            ,screen = #{screen}
        </if>
        <if test="type!= null and type!=''">
            ,type = #{type}
        </if>
        <if test="description!= null and description!=''">
            ,description = #{description}
        </if>
        <if test="nvrId!= null and nvrId!=''">
            ,nvr_id = #{nvrId}
        </if>
        <if test="vender!= null and vender!=''">
            ,vender = #{vender}
        </if>
        <if test="cameraNo!= null and cameraNo!=''">
            ,camera_no = #{cameraNo}
        </if>
        <if test="warehouseId!= null and warehouseId!=''">
            ,warehouse_id = #{warehouseId}
        </if>
        <if test="locationId!= null and locationId!=''">
            ,location_id = #{locationId}
        </if>
        where id=#{id}
    </update>


    <delete id="delete" parameterType="int">
        delete from sa_camera where id=#{id}
    </delete>

    <insert id="insertList" parameterType="java.util.List" useGeneratedKeys="true">
        insert into sa_camera (name, channel, ip, account, password,
        port, screen, type,is_download,
        description,nvr_id, vender,camera_no, warehouse_id, location_id,
        op_pid,op_user_id,created_time) values
        <foreach collection="cameraList" item="item" index="index" separator=",">
            (#{item.name},#{item.channel},#{item.ip},#{item.account},#{item.password},#{item.port},#{item.screen},
            #{item.type},#{item.download},#{item.description},#{item.nvrId},#{item.vender},#{item.cameraNo},
            #{item.warehouseId},#{item.locationId},#{item.op_pid},#{item.op_user_id},now())
        </foreach>
    </insert>
</mapper>