<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.zhag.dao.qzcstj.QzcstjMapper">

    <!--强制措施名称查询案件数量-->
    <select id="quyQzcsByDay" resultType="com.zhixin.zhfz.zhag.entity.CscfEntity" parameterType="java.util.Map">
        SELECT x.code_value as tj_result , COUNT(1) total FROM ag_cscf a LEFT JOIN xt_code x ON a.csztdm = x.code_key
        WHERE 1=1 AND x.type = 'qzcs'
        <if test="day != '' and day != null">
            and a.cjsj > DATE_ADD(NOW(), INTERVAL - ${day} DAY)
        </if>
        GROUP BY tj_result
    </select>

    <!--强制措施数量查询-->
    <select id="quyQzcszsByDay" resultType="com.zhixin.zhfz.zhag.entity.CscfEntity" parameterType="java.util.Map">
        SELECT COUNT(1) total FROM ag_cscf a LEFT JOIN xt_code x ON a.lx = x.code_key
        WHERE x.code_value = '强制措施'
        <if test="day != '' and day != null">
            and a.cjsj > DATE_ADD(NOW(), INTERVAL - ${day} DAY)
        </if>
    </select>

    <!--警情类别查询案件数量-->
    <select id="quyQzcsjqlbByDay" resultType="com.zhixin.zhfz.zhag.entity.JqxxEntity" parameterType="java.util.Map">
        SELECT j.jqlb as jqlb , COUNT(1) total FROM ag_jqxx j
        LEFT JOIN ag_cscf c ON j.jqbh = c.jqbh
        LEFT JOIN xt_code x ON c.lx = x.code_key
        WHERE x.type = 'cscflx' AND x.code_value = '强制措施'
        <if test="day != '' and day != null">
            and c.cjsj > DATE_ADD(NOW(), INTERVAL - ${day} DAY)
        </if>
        GROUP BY j.jqlb
    </select>


    <!--创建日期-->
    <select id="quyQzcsNumberByDay" resultType="com.zhixin.zhfz.zhag.entity.CscfEntity" parameterType="java.util.Map">
        SELECT * FROM ag_cscf a LEFT JOIN xt_code x ON a.lx = x.code_key
        WHERE x.code_value = '强制措施'
        <if test="day != '' and day != null">
            and a.cjsj > DATE_ADD(NOW(), INTERVAL - ${day} DAY)
        </if>
    </select>

    <!--强制措施执行时间-->
    <select id="selectQzcsZXSJByDay" resultType="com.zhixin.zhfz.zhag.entity.CscfEntity" parameterType="java.util.Map">
        SELECT ac.* from ag_cscf ac LEFT JOIN xt_code xc ON ac.csztdm = xc.code_key where xc.type = 'qzcs' and ac.lx = 0
        <if test="day != '' and day != null">
            and cjsj > DATE_ADD(NOW(), INTERVAL - ${day} DAY)
        </if>
    </select>
    <!--强制措施案别-->
    <select id="selectQzcsABByDay" resultType="com.zhixin.zhfz.zhag.entity.CscfEntity" parameterType="java.util.Map">
        SELECT ac.*,bc.ab,bc.abmc from ag_cscf ac INNER JOIN ba_case bc ON ac.ajbh = bc.ajbh
        where  ac.lx = 0
        <if test="day != '' and day != null">
            and ac.cjsj > DATE_ADD(NOW(), INTERVAL - ${day} DAY)
        </if>
        GROUP BY bc.ab
    </select>
    <!--通过日期查询强制措施告警总数-->
    <select id="quyQzcsGJByDate" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT COUNT(*) FROM ag_gjxx WHERE gjly = 3
        <if test="useDate != '' and useDate != null">
            and DATE_FORMAT( gjsj, '%Y-%m-%d') = ${useDate}
        </if>
    </select>
    <!--通过日期查询强制措施预警总数-->
    <select id="quyQzcsYJByDate" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT COUNT(*) FROM ag_yjxx WHERE yjly = 3
        <if test="useDate != '' and useDate != null">
            and DATE_FORMAT( yjsj, '%Y-%m-%d') = ${useDate}
        </if>
    </select>
</mapper>