<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zhixin.zhfz.jzgl.dao.jdrd.IGjxxMapper">
    <resultMap id="IGjxxMapper" type="com.zhixin.zhfz.jzgl.entity.GjxxEntity">
        <id property="id" column="id"/>
        <result property="ajxxId" column="ajxx_id"/>
        <result property="jzxxId" column="jzxx_id"/>
        <result property="gjlx" column="gjlx"/>
        <result property="gjzt" column="gjzt"/>
        <result property="cjDate" column="cj_date"/>
    </resultMap>
    <!-- 查询告警信息是否存在gjxx表-->
     <select id="queryGjxxSame" parameterType="com.zhixin.zhfz.jzgl.entity.GjxxEntity" resultMap="IGjxxMapper" >
    	select * from jz_gjxx gj where  ajxx_id=#{ajxxId} and gjlx=#{gjlx}
    </select>
        
    <select id="listGjxx" parameterType="java.util.Map" resultMap="IGjxxMapper" resultType="java.util.List">
    	select gj.*,aj.ajbh,aj.ajmc,jz.jzbh,
        (select gm.xsbh from jz_jzg_gmxx gm where gm.id = jz.gmxx_id) xsbh
        from jz_gjxx gj
        inner join ba_case aj on aj.id = gj.ajxx_id
        inner join jz_jzxx jz on jz.id = gj.jzxx_id
        where 1=1
		<if test="ajmc != null and ajmc != ''">
			and aj.ajmc like '%${ajmc}%'
		</if>
		<if test="startTime!=null and startTime!=''">
            and gj.cj_date &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime!='' ">
            and gj.cj_date  &lt;= #{endTime}
        </if>
		order by gj.id		
    </select>
    
    <select id="countGjxx" parameterType="java.util.Map" resultType="int">
    	select count(1) from jz_gjxx gj
        inner join ba_case aj on aj.id = gj.ajxx_id
        inner join jz_jzxx jz on jz.id = gj.jzxx_id
        where 1=1
		<if test="ajmc != null and ajmc != ''">
			and aj.ajmc like '%${ajmc}%'
		</if>
		<if test="startTime!=null and startTime!=''">
            and gj.cj_date &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime!='' ">
            and gj.cj_date  &lt;= #{endTime}
        </if>		 
    </select>
    
   <update id="updateGjxx" parameterType="com.zhixin.zhfz.jzgl.entity.GjxxEntity">
		update jz_gjxx set 
		gjzt = #{gjzt} 
		where 1=1
		<if test="id!=null and id!='' ">
            and id = #{id}
        </if>		
	</update>
	
    <!-- 连不不存插入告警信息 -->
    <insert id="insertGjxxLXBC" parameterType="com.zhixin.zhfz.jzgl.entity.GjxxEntity"  keyProperty="id" useGeneratedKeys="true" >  
       
      INSERT INTO jz_gjxx (
                id,
	    		ajxx_id,
	    		jzxx_id,
	    		gjlx,
	    		gjzt,
	    		cj_date
				)
             VALUES(
             #{id},
	    		#{ajxxId},
	    		#{jzxxId},
	    		#{gjlx},
	    		#{gjzt},
	    		now()
				)
    </insert>
    
</mapper>


