<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixin.zhfz.jzgl.dao.jdrd.IGjxxLogMapper">
	<resultMap id="IGjxxLogMapper" type="com.zhixin.zhfz.jzgl.entity.GjxxLogEntity">
		<id property="id" column="id" />
		<result property="gjxxId" column="gjxx_id" />
		<result property="userId" column="user_id" />
		<result property="czlx" column="czlx" />
		<result property="content" column="content" />
		<result property="cjDate" column="cj_date" />
	</resultMap>

	<select id="listGjxxLogById" parameterType="java.util.Map" resultMap="IGjxxLogMapper" resultType="java.util.List">
		select gj.*,(select u.login_name from xt_user u where u.id = gj.user_id) loginName 
        from jz_gjxx_log gj
		where 1=1
		<if test="gjxxId != null and gjxxId != ''">
			and gj.gjxx_id = #{gjxxId}
		</if>
		order by gj.cj_date
	</select>

	<select id="countGjxxLog" parameterType="java.util.Map" resultType="int">
		select count(1) from jz_gjxx_log gj
		where 1=1
		<if test="gjxxId != null and gjxxId != ''">
			and gj.gjxx_id = #{gjxxId}
		</if>
	</select>

	<insert id="insertGjxxLog" parameterType="com.zhixin.zhfz.jzgl.entity.GjxxLogEntity" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO jz_gjxx_log (
		gjxx_id,
		user_id,
		czlx,
		content,
		cj_date
		)
		VALUES(
		#{gjxxId},
		#{userId},
		#{czlx},
		#{content},
		now()
		)
	</insert>

</mapper>


