<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.sacw.dao.boundalarm.IBoundAlarmMapper">

    <resultMap id="BoundAlarmMap" type="BoundAlarmEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="caseNo" column="ajbh" jdbcType="VARCHAR"/>
        <result property="caseName" column="ajmc" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="detailCount" column="detail_count" jdbcType="VARCHAR"/>
        <result property="weight" column="weight"/>
        <result property="worth" column="worth"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="involvedTypeId" column="involved_type_id" jdbcType="INTEGER"/>
        <result property="involvedTypeName" column="involvedTypeName" jdbcType="VARCHAR"/>
        <result property="inputTypeId" column="input_type_id" jdbcType="INTEGER"/>
        <result property="inputTypeName" column="inputTypeName" jdbcType="VARCHAR"/>
        <result property="involvedOwner" column="involved_owner" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="alarmType" column="alarm_type" jdbcType="INTEGER"/>
        <result property="outputCount" column="output_count" jdbcType="VARCHAR"/>
        <result property="registerUserId" column="register_user_id" jdbcType="VARCHAR"/>
        <result property="registerUserName" column="registerUserName" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="warehouseId" column="warehouse_id" jdbcType="INTEGER"/>
        <result property="locationId" column="location_id" jdbcType="INTEGER"/>
        <result property="warehouseName" column="warehouseName" jdbcType="VARCHAR"/>
        <result property="locationName" column="locationName" jdbcType="VARCHAR"/>
        <result property="alarmName" column="alarm_name" jdbcType="VARCHAR"/>
        <result property="startTime" column="startTime" jdbcType="TIMESTAMP"/>
        <result property="alarmTime" column="alarm_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="endTime" jdbcType="TIMESTAMP"/>
        <result property="labelId" column="label_id" jdbcType="VARCHAR"/>
        <result property="labelNo" column="label_no" jdbcType="VARCHAR"/>
        <result property="involvedName" column="name" jdbcType="VARCHAR"/>
        <result property="deviceId" column="device_id" jdbcType="VARCHAR"/>
        <result property="cameraNo" column="camera_no" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="list" resultMap="BoundAlarmMap" parameterType="java.util.Map">
        SELECT
        l.ajbh,l.ajmc,c.label_no,r.camera_no,p.alarm_name,i.name as name ,p.alarm_type,
        DATE_ADD(p.alarm_time,INTERVAL - 20 SECOND) startTime,DATE_ADD(p.alarm_time,
        INTERVAL 10 SECOND) endTime
        FROM
        sa_alarm p
        LEFT JOIN sa_involved i ON p.label_id = i.label_id
        left JOIN sa_label c ON c.id = i.label_id
        LEFT JOIN ba_case l ON i.case_id = l.id
        LEFT JOIN sa_warehouse w ON w.id = i.warehouse_id
        LEFT JOIN sa_camera r ON r.location_id = p.location_id
        LEFT JOIN xt_organization t ON l.zbdw_id =t.id
        where r.screen='主画面' AND p.label_id is NOT NULL
        and (p.alarm_time>=i.input_time and p.alarm_time &lt; IFNULL(i.output_time,now()))
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
        <if test="caseNo!=null and caseNo !=''">
            and l.ajbh like '%${caseNo}%'
        </if>
        <if test="caseName !=null and caseName !=''">
            and l.ajmc like '%${caseName}%'
        </if>
        <if test=" involvedName!=null and involvedName !=''">
            and i.name= #{involvedName}
        </if>
        <if test="status!=99 and status!=null">
            and i.status= #{status}
        </if>
        order by i.created_time desc limit ${pageStart},${rows}
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1)
        from sa_involved i
        inner join sa_label c on c.id=i.label_id
        left join ba_case l on i.case_id=l.id
        left join sa_alarm p on p.label_id=i.label_id
        LEFT JOIN xt_organization t ON l.zbdw_id =t.id
        where (p.alarm_time>=i.input_time and p.alarm_time &lt;IFNULL(i.output_time,now()))
        AND p.label_id is NOT NULL
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
        <if test="caseNo!=null and caseNo !=''">
            and l.ajbh like '%${caseNo}%'
        </if>
        <if test="caseName !=null and caseName !=''">
            and l.ajmc like '%${caseName}%'
        </if>
        <if test=" involvedName!=null and involvedName !=''">
            and i.name= #{involvedName}
        </if>
        <if test="status!=99 and status!=null">
            and i.status= #{status}
        </if>
    </select>


</mapper>