<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zhixin.zhfz.jzgl.dao.jzxx.ICrgLogMapper">
    <resultMap id="CglogMapper" type="com.zhixin.zhfz.jzgl.entity.CrgLogEntity">
        <id property="id" column="id"/>
        <result property="ajxxId" column="ajxx_id"/>
        <result property="jzxxId" column="jzxx_id"/>
        <result property="cglx" column="cglx"/>
        <result property="reason" column="reason"/>
        <result property="remark" column="remark"/>
        <result property="cgsj" column="cgsj"/>
        <result property="cjsj" column="cjsj"/>
        <result property="cgType" column="cgType"/>
        <result property="czlx" column="czlx"/>
		<result property="opUserId" column="op_user_id"/>
    </resultMap>
    
    <select id="getOverTimeCglogByJzxxId" resultMap="CglogMapper" parameterType="java.util.Map">
    	select cg.* from jz_crgLog cg
		where cg.cjsj in 
		(select max(cjsj) from jz_crgLog where  cgsj != 0 group by jzxx_id)
		<if test="jzxxId != null and jzxxId != ''">
			and cg.jzxx_id = #{jzxxId}
		</if>
    </select>
    
    <select id="getOverTimeCglog" resultMap="CglogMapper" resultType="java.util.List">
    	select * from jz_crgLog
		where cjsj in 
		(select max(cjsj) from jz_crgLog where  cgsj != 0 group by jzxx_id)
    </select>
    
    <select id="getCglogByJzxxId" parameterType="java.util.Map" resultMap="CglogMapper" resultType="java.util.List">
    	select cg.*
		from jz_crgLog cg
		where  1=1
		 <if test="jzxxId != null and jzxxId != ''">
			and cg.jzxx_id = #{jzxxId}
		</if>
		order by cg.id asc
    </select>
    
    <select id="listCglog" parameterType="java.util.Map" resultMap="CglogMapper" resultType="java.util.List">
		select cg.*,z.code_value as cgType,u.real_name czrName
		from jz_crgLog cg
		inner join xt_code z on cg.cglx = z.code_key and z.type='cglx'
		left join xt_user u on cg.op_user_id = u.id
		where 1=1
		 <if test="jzxxId != null and jzxxId != ''">
			and cg.jzxx_id = #{jzxxId}
		</if>
		order by cg.id desc
    </select>
    
    <select id="countCglog" parameterType="java.util.Map" resultType="int">
    	select count(1)
    	from jz_crgLog cg,xt_code z
		where cg.cglx = z.code_key
		and z.type='cglx'
		<if test="jzxxId != null and jzxxId != ''">
			and cg.jzxx_id = #{jzxxId}
		</if>		 
    </select>

    <insert id="insertCglog" parameterType="com.zhixin.zhfz.jzgl.entity.CrgLogEntity"  keyProperty="id" useGeneratedKeys="true" >  
            INSERT INTO jz_crgLog (
	    		ajxx_id,
	    		jzxx_id,
	    		cglx,
	    		reason,
	    		remark,
	    		yqday,
	    		cgsj,
	    		cjsj,
	    		czlx,
	    		op_user_id,
	    		op_pid
	    		)
             VALUES(
	    		#{ajxxId},
	    		#{jzxxId},
	    		#{cglx},
	    		#{reason},
	    		#{remark},
	    		#{yqday},
	    		#{cgsj},
	    		now(),
	    		#{czlx},
	    		#{opUserId},
	    		#{opPid}
				)
    </insert>
        
    <delete id="deleteCglogById" parameterType="Long">  
            DELETE FROM jz_crgLog WHERE id=#{id}
    </delete>    
</mapper>


