<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zhixin.zhfz.jzgl.dao.jzxx.IJzxxPoliceMapper">
    <!-- 查询卷宗民警 -->
    <select id="queryJzxxPoliceByJzxxId" resultType="java.util.HashMap" parameterType="java.util.Map">  
        	SELECT p.id,u.certificate_no policeNo FROM jz_jzxx_police p
             LEFT JOIN xt_user u ON p.user_id=u.id
             where 1=1
        	<if test="jzxxId!=null and jzxxId!=''">
				and p.jzxx_id = #{jzxxId}
			</if>
    </select>
    
    <!-- 添加卷宗民警 -->
    <insert id="addJzxxDetailByJzxxId" parameterType="java.util.Map">  
            INSERT INTO jz_jzxx_police (jzxx_id, user_id) VALUES (#{jzxxId},#{userId})
    </insert>
    
    <!-- 删除卷宗民警 -->
    <delete id="deleteJzxxPoliceByjzxxId" parameterType="java.util.Map">  
            DELETE FROM jz_jzxx_police WHERE 1=1
            <if test="jzxxId!=null and jzxxId!=''">
				and jzxx_id = #{jzxxId}
			</if>
    </delete> 
    
</mapper>


