<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zhixin.zhfz.jzgl.dao.jzxx.IJzxxMapper">
    <resultMap id="JzxxMapper" type="com.zhixin.zhfz.jzgl.entity.JzxxEntity">
        <id property="id" column="id"/>
        <result property="ajxxId" column="ajxx_id"/>
        <result property="userId" column="user_id"/>
        <result property="gmxxId" column="gmxx_id"/>
        <result property="jzzt" column="jzzt"/>
        <result property="jzbh" column="jzbh"/>
        <result property="zrrname" column="zrrname"/>
        <result property="cjsj" column="cjsj"/>
        <result property="ajmc" column="ajmc"/>
        <result property="xm" column="xm"/>
        <result property="xsbh" column="xsbh"/>
        <result property="mc" column="mc"/>
        <result property="jzgMc" column="jzg_mc"/>
        <result property="ajbh" column="ajbh"/>
        <result property="zbmj" column="zbmj"/>
        <result property="ajlb" column="ajlb"/>
        <result property="slsj" column="slsj"/>
        <result property="ztms" column="ztms"/>
        <result property="ajmcJzbh" column="ajmcJzbh"/>
        <result property="ajIdJzId" column="ajIdJzId"/>
        <result property="bmmc" column="bmmc"/>
        <result property="uuid" column="uuid"/>
        <result property="yjnr" column="yjnr"/>
        <result property="yjlx" column="yjlx"/>
        <result property="incount" column="incount"/>
        <result property="outcount" column="outcount"/>
        <result property="jzlx" column="jzlx"/>
        <result property="jzms" column="jzms"/>
        <result property="jz_count" column="jz_count"/>
        <result property="ajlbms" column="ajlbms"/>
        <result property="z" column="code_value"/>
        <result property="organization" column="organization"/>
        <result property="count" column="count"/>
        <result property="pageNum" column="page_num"/>
    </resultMap>
       
    <select id="getJzxxByAjxxId" parameterType="java.util.Map" resultMap="JzxxMapper">
        select
        (select u.real_name from xt_user u where u.id = jz.zrr) zrr,
                jz.*, z.code_value,
               jzg.mc jzg_mc,
               gm.xsbh xsbh,
               u.real_name xm ,
               (select count(id) from jz_jzxx_detail jzd where jzd.jzxx_id = jz.id) jz_count
               from jz_jzxx jz ,
                    jz_jzg jzg ,
                    jz_jzg_gmxx gm ,
                    xt_user u ,
                    xt_code z 
               where 
               jz.gmxx_id = gm.id 
               and jz.user_id = u.id 
               and gm.jzg_id = jzg.id
               and z.type = 'jzxx_save'
               and z.code_key = jz.jzzt
               and jz.ajxx_id = #{ajxxId}
               <if test="xm != null and xm != ''">
                   and u.real_name like '%${xm}%'
               </if>
               <if test="xsbh != null and xsbh != ''">
                   and gm.xsbh = #{xsbh}
               </if>
               order by jzbh desc 
    </select>
    
	<select id="countJzxxByAjxxId" resultType="int" parameterType="java.util.Map" >
        	 select count(1)
               from jz_jzxx jz ,
                    jz_jzg jzg ,
                    jz_jzg_gmxx gm ,
                    xt_user u ,
                    xt_code z 
               where 
               jz.gmxx_id = gm.id 
               and jz.user_id = u.id 
               and gm.jzg_id = jzg.id
               and z.type = 'jzxx_save'
               and z.code_key = jz.jzzt
               and jz.ajxx_id = #{ajxxId}
               <if test="xm != null and xm != ''">
                   and u.real_name like '%${xm}%'
               </if>
               <if test="xsbh != null and xsbh != ''">
                   and gm.xsbh = #{xsbh}
               </if>
    </select>
    
    <select id="getJzxxByGmxxId" parameterType="java.util.Map" resultMap="JzxxMapper">
       SELECT jz.*, z.code_value z,
        jzg.mc jzg_mc,
        gm.xsbh xsbh,
        yh.real_name xm ,
        (SELECT COUNT(id) FROM jz_jzxx_detail  jzd WHERE jzd.jzxx_id = jz.id) jz_count,
		(SELECT a.ajmc FROM ba_case a WHERE a.id = jz.ajxx_id) ajmc
        FROM jz_jzxx jz ,
        jz_jzg jzg ,
        jz_jzg_gmxx gm ,
        xt_user yh ,
        xt_code z
        WHERE
        jz.gmxx_id = gm.id
        AND jz.user_id = yh.id
        AND gm.jzg_id = jzg.id
        AND z.type = 'jzxx_save'
        AND z.code_key = jz.jzzt
        AND gmxx_id = #{gmxxId}
        AND jz.jzzt = 1
        ORDER BY id DESC
    </select>

    <select id="countJzxxByGmxxId" resultType="int" parameterType="java.util.Map" >
	SELECT COUNT(1)
		FROM jz_jzxx jz ,
		jz_jzg jzg ,
		jz_jzg_gmxx gm ,
		xt_user yh ,
		xt_code z
		WHERE
		jz.gmxx_id = gm.id
		AND jz.user_id = yh.id
		AND gm.jzg_id = jzg.id
		AND z.type = 'jzxx_save'
		AND z.code_key = jz.jzzt
		AND jz.gmxx_id = #{gmxxId}
		AND jz.jzzt = 1
    </select>
    
    <!-- getJzxxById -->
    <select id="getJzxxById" resultMap="JzxxMapper" parameterType="Long" >  
       		<!-- no ";" at the end -->   
        	SELECT * FROM jz_jzxx where id=#{id}
    </select>
    
    <!-- insertJzxx -->
    <insert id="insertJzxx" parameterType="com.zhixin.zhfz.jzgl.entity.JzxxEntity"  keyProperty="id" useGeneratedKeys="true" >  
            INSERT INTO jz_jzxx (
	    		ajxx_id,
	    		user_id,
	    		gmxx_id,
	    		jzzt,
	    		jzbh,
	    		cjsj,
	    		gxsj,
	    		uuid,
	    		jzlx,
	    		jzms,
	    		zrr,
	    		page_num,
	    		op_pid,
	    		op_user_id
				)
             VALUES(
	    		#{ajxxId},
	    		#{userId},
	    		#{gmxxId},
	    		#{jzzt},
	    		#{jzbh},
	    		now(),
	    		now(),
	    		#{uuid},
	    		#{jzlx},
	    		#{jzms},
	    		#{zrr},
	    		#{pageNum},
	    		#{opPid},
	    		#{opUserId}
				)
    </insert>
    
    <update id="updateJzxx" parameterType="com.zhixin.zhfz.jzgl.entity.JzxxEntity">  
            UPDATE jz_jzxx SET 
	    		ajxx_id=#{ajxxId},
	    		user_id=#{userId},
	    		gmxx_id=#{gmxxId},
	    		jzlx=#{jzlx},
	    		jzms=#{jzms},
	    		page_num=#{pageNum}
            WHERE 
	    		id=#{id}
    </update>
    
    <select id="getGzbhByAjId" parameterType="Long" resultType="String" >
        SELECT jzbh from jz_jzxx where ajxx_id=#{ajxxId} 
    </select>
    
    <select id="getJzxxForQR" parameterType="Long" resultMap="JzxxMapper">
        select jz.id,
               aj.ajmc ajmc, jz.jzbh jzbh,
               aj.ajbh ajbh,
               jz.uuid uuid,
               yh.real_name xm,
               bm.name bmmc,
               aj.id ajxxId  
         from jz_jzxx jz , 
              xt_user yh ,
              xt_organization bm,
              ba_case aj
         where jz.user_id = yh.id 
         and bm.id = yh.organization_id
         and jz.ajxx_id = aj.id
         and jz.id=#{value}
    </select>
    <!-- 柜门使用率 -->
  <select id="listJzXzCount" resultMap="JzxxMapper"
		parameterType="java.util.Map">
		SELECT
		org.name organization,
		COUNT(1) COUNT
		FROM
		jz_jzxx jz
		LEFT JOIN xt_user `user` ON jz.user_id = `user`.id
		LEFT JOIN xt_organization org ON org.id = `user`.organization_id
		where 1=1
		<if test="jzgId != null and jzgId != ''">
			and org.id =(SELECT org_id from jz_jzg where id=#{jzgId})
		</if>
		<if test="dataAuth!=null and dataAuth!=''">
			and ${dataAuth}
		</if>
		GROUP BY
		org.name ORDER BY count desc
	</select>
	
	
	<!-- queryCqBy30Count 近30 天 -->
	<select id="queryXsxzBy30Count" resultMap="JzxxMapper" parameterType="java.util.Map">
			SELECT jz.* FROM jz_jzxx jz
				LEFT JOIN xt_user USER ON jz.user_id = user.id
				LEFT JOIN xt_organization org ON org.id = user.organization_id
					 
		where DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;=date(cjsj)
		<if test="jzgId != null and jzgId != ''">
			and org.id =(SELECT org_id from jz_jzg where id=#{jzgId})
		</if>
		<if test="dataAuth!=null and dataAuth!=''">
			and ${dataAuth}
		</if>

	</select>
	
	<select id="getJzxxAndAjxx" parameterType="java.util.Map" resultMap="JzxxMapper">
        select aj.ajmc,aj.ajbh,
        (select u.real_name from xt_user u where u.id = jz.zrr) zrr,
                jz.*, z.code_value,
               jzg.mc jzg_mc,
               gm.xsbh xsbh,
               yh.real_name xm ,
               (select count(id) from jz_jzxx_detail  jzd where jzd.jzxx_id = jz.id) jz_count
               from jz_jzxx jz ,
               jz_jzg jzg ,
               jz_jzg_gmxx gm ,
               xt_user yh ,
               xt_code z,
               ba_case aj
               where 
               jz.gmxx_id = gm.id 
               and jz.user_id = yh.id 
               and gm.jzg_id = jzg.id
               and z.type = 'jzxx_save'
               and z.code_key = jz.jzzt
               and jz.ajxx_id = aj.id
               <if test="xm != null and xm != ''">
                   and yh.real_name like '%${xm}%'
               </if>
               <if test="xsbh != null and xsbh != ''">
                   and gm.xsbh = #{xsbh}
               </if>
               <if test="jzzt != null and jzzt != ''">
                   and jz.jzzt = #{jzzt}
               </if>
                <if test="ajmc != null and ajmc != ''">
                    and aj.ajmc like '%${ajmc}%'
                </if>
                <if test="dataAuth!=null and dataAuth!=''">
					and ${dataAuth}
				</if>
                order by jzbh desc 
    </select>
    
    <select id="countJzxxAndAjxx" resultType="int" parameterType="java.util.Map">
        	select count(1)                                                                 
               from jz_jzxx jz ,
               jz_jzg jzg ,
               jz_jzg_gmxx gm ,
               xt_user yh ,
               xt_code z,
               ba_case aj
               where 
               jz.gmxx_id = gm.id 
               and jz.user_id = yh.id 
               and gm.jzg_id = jzg.id
               and z.type = 'jzxx_save'
               and z.code_key = jz.jzzt
               and jz.ajxx_id = aj.id
               <if test="xm != null and xm != ''">
                   and yh.real_name like '%${xm}%'
               </if>
               <if test="xsbh != null and xsbh != ''">
                   and gm.xsbh = #{xsbh}
               </if>
               <if test="jzzt != null and jzzt != ''">
                   and jz.jzzt = #{jzzt}
               </if>
                <if test="ajmc != null and ajmc != ''">
                    and aj.ajmc like '%${ajmc}%'
                </if>
                <if test="dataAuth!=null and dataAuth!=''">
					and ${dataAuth}
				</if>
    </select>
    
    <select id="getJzxxByuuid" parameterType="java.util.Map" resultMap="JzxxMapper">
    	select jz.*,z.code_value 
		from jz_jzxx jz,xt_code z
		where z.type = 'jzxx_save'
              and z.code_key = jz.jzzt
		      and jz.uuid = #{uuid}
    </select>
    
    <update id="updateJzztByuuid" parameterType="java.util.Map">
    	 UPDATE jz_jzxx SET 
	    		jzzt = #{jzzt}
            WHERE 
	    		uuid = #{uuid}
    </update>

	
</mapper>


