<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zhixin.zhfz.jzgl.dao.jzxx.IXtrzMapper">
	<!-- <typeAlias alias="xtrz" type="com.zhixin.rd.interrogate.web.entity.XtrzMysqlEntity" /> -->
	<resultMap id="XtrzMapper" type="com.zhixin.zhfz.jzgl.entity.XtrzEntity">
    	<id property="id" column="id"/>
    	<result property="userId" column="user_id"/>
    	<result property="czlx" column="czlx"/>
    	<result property="ysj" column="ysj"/>
    	<result property="xsj" column="xsj"/>
    	<result property="czsj" column="czsj"/>
    	<result property="yhXm" column="yh_xm"/>
    </resultMap>
    
    <!-- listAllXtrz -->
    <select id="listAllXtrz" resultMap="XtrzMapper" >  
       		<!-- no ";" at the end -->   
        	SELECT * FROM xtrz
    </select>
    
    <!-- countAllXtrz -->
    <select id="countAllXtrz" resultType="int" >
        	SELECT COUNT(1) FROM xtrz
    </select>
    
    <!-- listXtrz -->
    <select id="listXtrz" resultMap="XtrzMapper" parameterType="java.util.Map" >  
       		<!-- no ";" at the end -->   
        	select x.*,y.xm yh_xm from xtrz x, yh y where x.yh_id = y.id 
        	<if test="yhXm!=null and yhXm != '' ">
        	    and y.xm like '%${yhXm}%'
        	</if>
        	<if test="czlx!=null and czlx != ''">
        	    and x.czlx = #{czlx}
        	</if>
        	<if test="begintime != null and begintime != ''">
        	    and x.czsj &gt;= #{begintime}
        	</if>
        	<if test="endtime != null and endtime != ''">
        	    and x.czsj &lt;= #{endtime}
        	</if>
    </select>
    
    <!-- countXtrz -->
    <select id="countXtrz" resultType="int" parameterType="java.util.Map" >
        	select count(1) from xtrz x, yh y where x.yh_id = y.id 
        	<if test="yhId!=null and yhId != '' and yhId != 0">
        	    and y.id = #{yhId}
        	</if>
        	<if test="czlx!=null and czlx != ''">
        	    and x.czlx = #{czlx}
        	</if> 
        	<if test="begintime != null and begintime != ''">
        	    and x.czsj &gt;= #{begintime}
        	</if>
        	<if test="endtime != null and endtime != ''">
        	    and x.czsj &lt;= #{endtime}
        	</if>
    </select>
    
    <!-- getXtrzById -->
    <select id="getXtrzById" resultMap="XtrzMapper" parameterType="Long" >  
       		<!-- no ";" at the end -->   
        	SELECT * FROM xtrz where id=#{id}
    </select>
    
    <!-- insertXtrz -->
    <insert id="insertXtrz" parameterType="com.zhixin.zhfz.jzgl.entity.XtrzEntity"  keyProperty="id" useGeneratedKeys="true" >  
            INSERT INTO jz_xtrz (
	    		user_id,
	    		czlx,
	    		ysj,
	    		xsj,
	    		czsj
				)
             VALUES(
	    		1,
	    		#{czlx},
	    		#{ysj},
	    		#{xsj},
	    		now()
				)
    </insert>
    
    <update id="updateXtrz" parameterType="com.zhixin.zhfz.jzgl.entity.XtrzEntity">  
            UPDATE xtrz SET 
	    		yh_id=#{yhId},
	    		czlx=#{czlx},
	    		ccnr=#{ccnr},
	    		czsj=#{czsj}
            WHERE 
	    		id=#{id}
    </update>
    
    <delete id="deleteXtrzById" parameterType="Long">  
            DELETE FROM xtrz WHERE id=#{id}
    </delete> 
    
    
</mapper>


