<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.sacw.dao.label.ILabelMapper">

    <resultMap id="labelMap" type="LabelEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="labelNo" column="label_no" jdbcType="VARCHAR"/>
        <result property="icNo" column="ic_no" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="warehouseId" column="warehouse_id" jdbcType="INTEGER"/>
        <result property="warehouseName" column="warehouseName" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="op_pid" column="op_pid" jdbcType="VARCHAR"/>
        <result property="op_user_id" column="op_user_id" jdbcType="INTEGER"/>
    </resultMap>

    <select id="list" resultMap="labelMap"
            parameterType="java.util.Map">
        select l.*,a.`name` warehouseName from sa_label l
        left join sa_warehouse a on l.warehouse_id=a.id
        LEFT JOIN xt_organization o on a.org_id = o.id
        <where>
            <if test="dataAuth!=null and dataAuth!=''">
                AND ${dataAuth}
            </if>
            <if test="labelNo !=null and labelNo!=''">
                and l.label_no like '%${labelNo}%'
            </if>
            <if test="icNo!=null and icNo!=''">
                and l.ic_no like '%${icNo}%'
            </if>
            <if test="status!=null and status!=''">
                and l.status =${status}
            </if>
            <if test="type!=null and type!=''">
                and l.type =${type}
            </if>
            <if test="warehouseId!=null and warehouseId!=''">
                and l.warehouse_id =${warehouseId}
            </if>
        </where>
        order by l.id desc limit ${pageStart},${rows}
    </select>


    <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from sa_label l
        left join sa_warehouse a on l.warehouse_id=a.id
        LEFT JOIN xt_organization o on a.org_id = o.id
        <where>
            <if test="dataAuth!=null and dataAuth!=''">
                AND ${dataAuth}
            </if>
            <if test="labelNo !=null and labelNo!=''">
                and l.label_no like '%${labelNo}%'
            </if>
            <if test="icNo!=null and icNo!=''">
                and l.ic_no like '%${icNo}%'
            </if>
            <if test="status!=null and status!='' or status==0">
                and l.status =#{status}
            </if>
            <if test="type!=null and type!='' or type==0">
                and l.type =#{type}
            </if>
            <if test="warehouseId!=null and warehouseId!=''">
                and l.warehouse_id =${warehouseId}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="LabelEntity" keyProperty="id" useGeneratedKeys="true">
        insert into sa_label (label_no, ic_no, status, type ,warehouse_id,op_pid,op_user_id, created_time) values
        (#{labelNo},#{icNo},#{status},#{type},#{warehouseId},#{op_pid},#{op_user_id},now())
    </insert>


    <update id="update" parameterType="java.util.Map">
        update sa_label
        set status=#{status}

        <if test="labelNo!= null and labelNo!=''">
            ,label_no = #{labelNo}
        </if>
        <if test="icNo!= null and icNo!=''">
            ,ic_no = #{icNo}
        </if>
        <if test="type!= null and type!='' or type==0">
            ,type = #{type}
        </if>
        <if test="warehouseId!= null and warehouseId!=''">
            ,warehouse_id = #{warehouseId}
        </if>
        where id=#{id}
    </update>


    <delete id="delete" parameterType="int">
        delete from sa_label where id=#{id}
    </delete>

    <!--获取各种状态的标签数据-->
    <select id="listLabelByStatus" resultMap="labelMap" parameterType="java.util.Map">
        select * from sa_label
        <where>
            <if test="status!=null and status!=''">
                and status =#{status}
            </if>
            <if test="warehouseId!=null and warehouseId!=''">
                and warehouse_id =#{warehouseId}
            </if>
        </where>

    </select>

    <select id="listAll" resultMap="labelMap">
        select * from sa_label
    </select>

    <select id="getLabelByNo" resultMap="labelMap" parameterType="java.util.Map">
        select * from sa_label where status=0 and label_no=#{labelNo}
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
        order by id desc
    </select>
    <select id="getLabelByIcNo" resultMap="labelMap" parameterType="java.util.Map">
        select * from sa_label where ic_no=#{IcNo}
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
        order by id desc
    </select>

</mapper>