<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.zhag.dao.jqxx.IJqxxMapper">
	<resultMap id="jqxxResultMap" type="com.zhixin.zhfz.zhag.entity.JqxxEntity">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="jjdwdm" property="jjdwdm" jdbcType="VARCHAR" />
		<result column="jjdwmc" property="jjdwmc" jdbcType="VARCHAR" />
		<result column="jjdwid" property="jjdwid" jdbcType="INTEGER" />
		<result column="jjrjh" property="jjrjh" jdbcType="VARCHAR" />
		<result column="jjrid" property="jjrid" jdbcType="INTEGER" />
		<result column="jjrxm" property="jjrxm" jdbcType="VARCHAR" />
		<result column="jjsj" property="jjsj" jdbcType="TIMESTAMP" />
		<result column="jjfs" property="jjfs" jdbcType="VARCHAR" />
		<result column="jqbh" property="jqbh" jdbcType="VARCHAR" />
		<result column="sldwid" property="sldwid" jdbcType="VARCHAR" />
		<result column="sldwdm" property="sldwdm" jdbcType="VARCHAR" />
		<result column="sldwmc" property="sldwmc" jdbcType="VARCHAR" />
		<result column="slrjh" property="slrjh" jdbcType="VARCHAR" />
		<result column="slrid" property="slrid" jdbcType="VARCHAR" />
		<result column="slrxm" property="slrxm" jdbcType="VARCHAR" />
		<result column="slsj" property="slsj" jdbcType="TIMESTAMP" />
		<result column="jqlb" property="jqlb" jdbcType="VARCHAR" />
		<result column="jqlbdm" property="jqlbdm" jdbcType="VARCHAR" />
		<result column="cjdwid" property="cjdwid" jdbcType="VARCHAR" />
		<result column="cjrid" property="cjrid" jdbcType="VARCHAR" />
		<result column="cjdwmc" property="cjdwmc" jdbcType="VARCHAR" />
		<result column="cjdwdm" property="cjdwdm" jdbcType="VARCHAR" />
		<result column="cjrjh" property="cjrjh" jdbcType="VARCHAR" />
		<result column="cjrxm" property="cjrxm" jdbcType="VARCHAR" />
		<result column="zyaq" property="zyaq" jdbcType="VARCHAR" />
		<result column="afdd" property="afdd" jdbcType="VARCHAR" />
		<result column="jjjqdm" property="jjjqdm" jdbcType="VARCHAR" />
		<result column="jjjqmc" property="jjjqmc" jdbcType="VARCHAR" />
		<result column="cljg" property="cljg" jdbcType="VARCHAR" />
		<result column="cljgdm" property="cljgdm" jdbcType="VARCHAR" />
		<result column="cjz" property="cjz" jdbcType="VARCHAR" />
		<result column="afsj" property="afsj" jdbcType="TIMESTAMP" />
		<result column="gxsj" property="gxsj" jdbcType="TIMESTAMP" />
		<result column="cjsj" property="cjsj" jdbcType="TIMESTAMP" />
		<result column="jcjsj" property="jcjsj" jdbcType="TIMESTAMP" />
	</resultMap>

	<select id="list" resultMap="jqxxResultMap" parameterType="java.util.Map">
		select *
		from ag_jqxx a
		<where>
			<if test="jjdwmc != null and jjdwmc != ''">
				a.jjdwmc like "%${jjdwmc}%"
			</if>
			<if test="jjrjh != null and jjrjh != ''">
				and a.jjrjh like "%${jjrjh}%"
			</if>
			<if test="sldwmc != null and sldwmc != ''">
				a.sldwmc like "%${sldwmc}%"
			</if>
			<if test="slrjh != null and slrjh != ''">
				and a.slrjh like "%${slrjh}%"
			</if>
			<if test="jqStartDate!=null and jqStartDate!=''">
				and a.jjsj &gt;=#{jqStartDate}
			</if>
			<if test="jqEndDate!=null and jqEndDate!=''">
				and a.jjsj &lt;=#{jqEndDate}
			</if>
	    </where>
        limit ${pageStart},${rows}
	</select>

	<select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(1)
		from ag_jqxx a
		<where>
			<if test="jjdwmc != null and jjdwmc != ''">
				a.jjdwmc like "%${jjdwmc}%"
			</if>
			<if test="jjrjh != null and jjrjh != ''">
				and a.jjrjh like "%${jjrjh}%"
			</if>
			<if test="sldwmc != null and sldwmc != ''">
				a.sldwmc like "%${sldwmc}%"
			</if>
			<if test="slrjh != null and slrjh != ''">
				and a.slrjh like "%${slrjh}%"
			</if>
			<if test="jqStartDate!=null and jqStartDate!=''">
				and a.jjsj &gt;=#{jqStartDate}
			</if>
			<if test="jqEndDate!=null and jqEndDate!=''">
				and a.jjsj &lt;=#{jqEndDate}
			</if>
       </where>
	</select>

</mapper>