<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.sacw.dao.sanvr.ISaNvrMapper">

    <resultMap id="nvrMap" type="SaNvrEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
        <result property="ipBack" column="ip_back" jdbcType="VARCHAR"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="port" column="port" jdbcType="INTEGER"/>
        <result property="warehouseName" column="warehouse_name" jdbcType="VARCHAR"/>
        <result property="warehouseId" column="warehouse_id" jdbcType="INTEGER"/>
        <result property="vender" column="vender" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="op_pid" column="op_pid" jdbcType="VARCHAR"/>
        <result property="op_user_id" column="op_user_id" jdbcType="INTEGER"/>

    </resultMap>

    <select id="list" resultMap="nvrMap"
            parameterType="java.util.Map">
        select n.*,w.name as warehouseName from sa_nvr n
        LEFT JOIN sa_warehouse w on w.id = n.warehouse_id
        LEFT JOIN xt_organization o on w.org_id = o.id
        <where>
            <if test="warehouseId!=null and warehouseId !=''">
                and n.warehouse_id=#{warehouseId}
            </if>
            <if test="name!=null and name !=''">
                and n.name like '%${name}%'
            </if>
            <if test="dataAuth!=null and dataAuth!=''">
                and ${dataAuth}
            </if>
        </where>
        order by n.created_time desc limit ${pageStart},${rows}
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from sa_nvr n
        left join sa_warehouse w on n.warehouse_id=w.id
        LEFT JOIN xt_organization o on w.org_id = o.id
        <where>
            <if test="warehouseId!=null and warehouseId !=''">
                and n.warehouse_id=#{warehouseId}
            </if>
            <if test="name!=null and name !=''">
                and n.name like '%${name}%'
            </if>
            <if test="dataAuth!=null and dataAuth!=''">
                and ${dataAuth}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="SaNvrEntity" keyProperty="id" useGeneratedKeys="true">
        insert into sa_nvr (name,ip, ip_back, account,
        password, port, warehouse_id, vender, type, op_pid,op_user_id,created_time)
        values (#{name},#{ip},#{ipBack},#{account},#{password},#{port},#{warehouseId},
        #{vender},#{type},#{op_pid},#{op_user_id},now())
    </insert>
    <insert id="insertList" parameterType="java.util.List" useGeneratedKeys="true">
        insert into sa_nvr (name,ip, ip_back, account,
        password, port, warehouse_id, vender, type,op_pid,op_user_id, created_time)
        values
        <foreach collection="nvrList" item="item" index="index" separator=",">
            (#{item.name},#{item.ip},#{item.ipBack},#{item.account},#{item.password},#{item.port},#{item.warehouseId},
            #{item.vender},#{item.type},#{item.op_pid},#{item.op_user_id},now())
        </foreach>
    </insert>

    <update id="update" parameterType="java.util.Map">
        update sa_nvr set updated_time=now()
        <if test="name!= null and name!=''">
            ,name = #{name}
        </if>
        <if test="ip!= null and ip!=''">
            ,ip = #{ip}
        </if>
        <if test="ipBack!= null and ipBack!=''">
            ,ip_back = #{ipBack}
        </if>
        <if test="account!= null and account!=''">
            ,account = #{account}
        </if>
        <if test="password!= null and password!=''">
            ,password = #{password}
        </if>
        <if test="port!= null and port!=''">
            ,port = #{port}
        </if>
        <if test="warehouseId!= null and warehouseId!=''">
            ,warehouse_id = #{warehouseId}
        </if>
        <if test="vender!= null and vender!=''">
            ,vender = #{vender}
        </if>
        <if test="type!= null and type!=''">
            ,type = #{type}
        </if>
        where id=#{id}
    </update>


    <delete id="delete" parameterType="int">
        delete from sa_nvr where id=#{id}
    </delete>

    <delete id="deleteCameraByNvrId" parameterType="int">
        delete from sa_camera where nvr_id=#{nvrId}
    </delete>

    <select id="comboNvr" resultMap="nvrMap"
            parameterType="java.util.Map">
        select distinct id,name from sa_nvr where warehouse_id=#{warehouseId}
    </select>

</mapper>