<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zhixin.zhfz.jzgl.dao.grdb.IGrdbMapper">
	<resultMap id="grdbMapper" type="com.zhixin.zhfz.jzgl.entity.GrdbEntity">
    	<result property="jzbh" column="jzbh" />
		<result property="zrr" column="zrr" />
		<result property="xxlx" column="xxlx" />
		<result property="gjsj" column="gjsj" />
    </resultMap>
    
    
	<!-- 个人代办 -->
	<select id="listGrdbXx" resultMap="grdbMapper"
		parameterType="java.util.Map">
		select jzxx.jzbh as jzbh,u.real_name as zrr,xx.xxlx as xxlx,
		xx.fssj as gjsj from jz_jzxx jzxx 
		LEFT JOIN jz_alarm xx ON jzxx.id = xx.jzxx_id 
		LEFT JOIN jz_jzg_gmxx as gmxx on jzxx.gmxx_id = gmxx.id 
		LEFT JOIN jz_jzg as jzg on gmxx.jzg_id = jzg.id 
		LEFT JOIN xt_user as u on jzxx.user_id = u.id WHERE 
		xx.xxlx is not null 
		<if test="dataAuth != '' and dataAuth != null">
			AND ${dataAuth}
	   </if>
		 and DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= xx.fssj ORDER BY xx.fssj desc
		 
	</select>
	<!-- 个人代办 -->
	<select id="countListGrdbXx" resultType="Integer"
		parameterType="java.util.Map">
		select  count(*) from jz_jzxx jzxx 
			LEFT JOIN jz_alarm xx ON jzxx.id = xx.jzxx_id 
			LEFT JOIN jz_jzg_gmxx as gmxx on jzxx.gmxx_id = gmxx.id 
			LEFT JOIN jz_jzg as jzg on gmxx.jzg_id = jzg.id 
			LEFT JOIN xt_user as u on jzxx.user_id = u.id WHERE 
			xx.xxlx is not null 
			<if test="dataAuth != '' and dataAuth != null">
			AND ${dataAuth}
		   </if>
		   and DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= xx.fssj ORDER BY xx.fssj desc
			
	</select>
      
    
</mapper>


