<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.sacw.dao.involved.InvolvedMapper">

    <resultMap id="involvedMap" type="com.zhixin.zhfz.sacw.entity.InvolvedEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="detail_count" column="detail_count" jdbcType="VARCHAR"/>
        <result property="outputCount" column="output_count" jdbcType="VARCHAR"/>
        <result property="leftCount" column="leftCount" jdbcType="VARCHAR"/>
        <result property="unit" column="unit" jdbcType="VARCHAR"/>
        <result property="weight" column="weight"/>
        <result property="worth" column="worth"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="involved_type_id" column="involved_type_id" jdbcType="INTEGER"/>
        <result property="input_type_id" column="input_type_id" jdbcType="INTEGER"/>
        <result property="barcode" column="barcode" jdbcType="VARCHAR"/>
        <result property="law_case_id" column="case_id" jdbcType="INTEGER"/>
        <result property="involved_owner" column="involved_owner" jdbcType="VARCHAR"/>
        <result property="number" column="no" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="expired_time" column="expired_time" jdbcType="TIMESTAMP"/>
        <result property="register_user_id" column="register_user_id" jdbcType="VARCHAR"/>
        <result property="registerUserName" column="registerUserName" jdbcType="VARCHAR"/>
        <result property="warehouseName" column="warehouseName" jdbcType="VARCHAR"/>
        <result property="created_time" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updated_time" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="caseNo" column="ajbh"/>
        <result property="caseName" column="ajmc"/>
        <result property="typeName" column="typeName"/>
        <result property="inputCode" column="inputCode"/>
        <result property="url" column="url"/>
        <result property="type" column="type"/>
        <result property="orgName" column="orgName" jdbcType="VARCHAR"/>
        <result column="location" property="location" jdbcType="VARCHAR"/>
        <result column="shelf_id" property="shelfId" jdbcType="INTEGER"/>
        <result column="location_id" property="locationId" jdbcType="INTEGER"/>
        <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER"/>
        <result column="recordId" property="recordId" jdbcType="INTEGER"/>
        <result property="labelNo" column="label_no" jdbcType="VARCHAR"/>
        <result property="labelId" column="label_id" jdbcType="VARCHAR"/>
        <result property="uuid" column="uuid"/>
        <result property="op_pid" column="op_pid" jdbcType="VARCHAR"/>

    </resultMap>

    <resultMap id="inputRecordMap" type="com.zhixin.zhfz.sacw.entity.InputRecordEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="caseNo" column="caseNo" jdbcType="VARCHAR"/>
        <result property="caseName" column="caseName" jdbcType="VARCHAR"/>
        <result property="woodsName" column="woodsName" jdbcType="VARCHAR"/>
        <result property="woodsType" column="woodsType" jdbcType="VARCHAR"/>
        <result property="count" column="count" jdbcType="INTEGER"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="location" property="location" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
        <result property="dept" column="dept" jdbcType="VARCHAR"/>
        <result property="goodsCode" column="goodsCode" jdbcType="VARCHAR"/>
        <result property="outstockable" column="outstockable" jdbcType="INTEGER"/>
        <result column="involved_id" property="involvedId" jdbcType="BIGINT"/>
        <result column="register_user_id" property="registerUserId" jdbcType="INTEGER"/>
        <result column="input_time" property="inputTime" jdbcType="TIMESTAMP"/>
        <result column="shelf_id" property="shelfId" jdbcType="INTEGER"/>
        <result column="location_igetInvolvedByIdd" property="locationId" jdbcType="INTEGER"/>
        <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER"/>
        <result column="case_id" property="lawCaseId" jdbcType="INTEGER"/>
        <result column="involved_type_id" property="involvedTypeId" jdbcType="INTEGER"/>
        <result column="intput_type_id" property="intputTypeId" jdbcType="INTEGER"/>
        <result column="organization_id" property="organizationId" jdbcType="INTEGER"/>
        <result column="police_id1" property="policeId1" jdbcType="INTEGER"/>
        <result column="police_id2" property="policeId2" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="outputCount" property="outputCount" jdbcType="INTEGER"/>
        <result property="labelId" column="label_id" jdbcType="INTEGER"/>
        <result property="labelNo" column="label_no" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="getMaterials" resultMap="involvedMap" parameterType="java.util.Map">
        select involved.id ,involved.barcode ,involved.created_time,lawcase.ajbh ,lawcase.ajmc,
        involved.name,code.code_value typeName,involved.case_id,involved.involved_type_id,
        involved.detail_count,involved.unit ,involved.status,
        involved.type,u.real_name registerUserName, cc.orgId,
        cc.orgName,(involved.detail_count-involved.output_count) leftCount,l.label_no
        from sa_involved involved
        left join ba_case lawcase on involved.case_id = lawcase.id
        left join xt_code code on code.code_key = involved.involved_type_id and code.type = 'INVOLVED_TYPE'
        left join xt_user u on u.id=involved.register_user_id
        LEFT JOIN (SELECT a.id,o.id AS orgId,o.`name` AS orgName,o.p_id FROM
        sa_warehouse a,
        xt_organization o
        WHERE
        a.org_id = o.id
        ) cc ON cc.id = involved.warehouse_id
        left join sa_label l on involved.label_id=l.id
        where involved.type='1'
        <if test="caseNo!=null and caseNo!=''">
            and lawcase.ajbh like '%${caseNo}%'
        </if>
        <if test="caseName!=null and caseName!=''">
            and lawcase.ajmc like '%${caseName}%'
        </if>
        <if test="name!=null and name!=''">
            and involved.name like '%${name}%'
        </if>
        <if test="barcode!=null and barcode!=''">
            and involved.barcode= #{barcode}
        </if>
        <if test="status!=99 and status!=null">
            and involved.status= #{status}
        </if>
        <if test="involvedType!=null and involvedType!=''">
            and involved.involved_type_id =#{involvedType}
        </if>
        <if test="labelNo !=null and labelNo!=''">
            and l.label_no =#{labelNo}
        </if>
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
        order by involved.created_time desc limit ${pageStart},${rows}
    </select>

    <select id="countMaterials" resultType="int" parameterType="java.util.Map">
        select count(1)
        from sa_involved involved
        left join ba_case lawcase on involved.case_id = lawcase.id
        left join xt_code code on code.code_key = involved.involved_type_id and code.type = 'INVOLVED_TYPE'
        left join xt_user u on u.id=involved.register_user_id
        left join sa_warehouse a on a.id=involved.warehouse_id
        LEFT JOIN (SELECT a.id,o.id AS orgId,o.`name` AS orgName,o.p_id FROM
        sa_warehouse a,
        xt_organization o
        WHERE
        a.org_id = o.id
        ) cc ON cc.id = involved.warehouse_id
        left join sa_label l on involved.label_id=l.id
        where involved.type='1'
        <if test="caseNo!=null and caseNo!=''">
            and lawcase.ajbh like '%${caseNo}%'
        </if>
        <if test="caseName!=null and caseName!=''">
            and lawcase.ajmc like '%${caseName}%'
        </if>
        <if test="name!=null and name!=''">
            and involved.name like '%${name}%'
        </if>
        <if test="barcode!=null and barcode!=''">
            and involved.barcode= #{barcode}
        </if>
        <if test="status!=99 and status!=null">
            and involved.status= #{status}
        </if>
        <if test="involvedType!=null and involvedType!=''">
            and involved.involved_type_id =#{involvedType}
        </if>
        <if test="labelNo !=null and labelNo!=''">
            and l.label_no =#{labelNo}
        </if>
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>

    </select>


    <!--查询物品的最后一条入库记录-->
    <select id="listLastRecord" resultMap="involvedMap"
            parameterType="java.util.Map">
			select r.id recordId,concat(w.name,l.name,IFNULL(s.no,'')) location,r.warehouse_id,r.location_id,r.shelf_id from sa_input_record r
		left join sa_warehouse w on r.warehouse_id=w.id
		left join sa_location l on r.location_id=l.id
		left join sa_shelf s on r.shelf_id=s.id
		left join xt_organization o on r.organization_id=o.id
		where r.involved_id=#{involvedId}  order by r.id desc limit 1
	</select>

    <select id="getRecordByInvId" parameterType="java.util.Map" resultMap="involvedMap">
       select * from
        (
        select concat('入库->',cd.code_value) as fs,ir.input_time as time from sa_input_record ir
        left join xt_code cd on ir.input_type_id=cd.code_key and cd.type='INV_INPUT_TYPE'
        where ir.involved_id=#{id}
        union all
        select concat('出库->',cf.code_value) as fs,vr.output_time as time from sa_output_record vr
        left join xt_code cf on vr.output_type_id=cf.code_key and cf.type='INV_OUTPUT_TYPE'
        where vr.involved_id=#{id}
        ) as r

        order by r.time desc
    </select>

    <select id="countRecordByInvId" parameterType="java.util.Map" resultType="int">
         select count(1) from
        (
        select concat('入库->',cd.code_value) as fs,ir.input_time as time from sa_input_record ir
        left join xt_code cd on ir.input_type_id=cd.code_key and cd.type='INV_INPUT_TYPE'
        where ir.involved_id=#{id}
        union all
        select concat('出库->',cf.code_value) as fs,vr.output_time as time from sa_output_record vr
        left join xt_code cf on vr.output_type_id=cf.code_key and cf.type='INV_OUTPUT_TYPE'
        where vr.involved_id=#{id}
        ) as r
    </select>

    <select id="getRecordByTime" parameterType="java.util.Map" resultMap="involvedMap">
        select * from
        (select concat('待入库->登记') as fs,i.created_time as time,u.real_name as name  from sa_involved i ,xt_user u WHERE i.register_user_id = u.id AND i.id=#{id}
        union all
        select concat('入库->',cd.code_value) as fs,ir.input_time as time , u.real_name AS name from sa_input_record ir
        left join xt_code cd on ir.input_type_id=cd.code_key and cd.type='INV_INPUT_TYPE'
				LEFT JOIN xt_user u on ir.register_user_id = u.id
        where ir.involved_id=#{id}
        union all
        select concat('出库->',cf.code_value) as fs,vr.output_time as time ,u.real_name AS name from sa_output_record vr
        left join xt_code cf on vr.output_type_id=cf.code_key and cf.type='INV_OUTPUT_TYPE'
				LEFT JOIN xt_user u on u.id = vr.register_user_id
        where vr.involved_id=#{id}
        ) as r  ORDER BY r.time

    </select>

    <select id="getRecordByCaseId" parameterType="int" resultMap="involvedMap">
       select inv.*,`code`.code_value typeValue from sa_involved inv,xt_code code
        where inv.involved_type_id = code.code_key and code.type = 'INVOLVED_TYPE' and inv.case_id = #{value}
    </select>
    <select id="getUnStockedRecordByCaseId" parameterType="int" resultMap="involvedMap">
        select inv.*,`code`.code_value typeValue from sa_involved inv,xt_code code,ba_case l
        where inv.case_id = l.id AND  inv.involved_type_id = `code`.code_key and `code`.type = 'INVOLVED_TYPE'
        and inv.case_id = #{value} and inv.status=1
    </select>

    <select id="getInvolvedById" parameterType="Long" resultMap="involvedMap">
       select inv.*,a.`name` AS warehouseName, code1.code_value typeName,code2.code_value inputCode,l.label_no,c.ajmc
        from sa_involved inv
        left join xt_code code1 on inv.involved_type_id = code1.code_key and code1.type = 'INVOLVED_TYPE'
        left join xt_code code2 on code2.code_key = inv.input_type_id and code2.type = 'INV_INPUT_TYPE'
        left join sa_label l on l.id=inv.label_id
        left join sa_warehouse a on a.id=inv.warehouse_id
        left join ba_case c on c.id=inv.case_id
        where inv.id =  #{value}

    </select>

    <insert id="addInv" parameterType="com.zhixin.zhfz.sacw.entity.InvolvedEntity" keyProperty="id"
            useGeneratedKeys="true">
        insert into sa_involved
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name!='' ">
                name,
            </if>
            <if test="detail_count != null and detail_count !='' ">
                detail_count,
            </if>
            <if test="unit != null and unit!='' ">
                unit,
            </if>
            <if test="weight != null and weight!='' ">
                weight,
            </if>
            <if test="involved_type_id != null and involved_type_id!='' ">
                involved_type_id,
            </if>
            <if test="worth != null and worth!='' ">
                worth,
            </if>
            <if test="involved_owner != null and involved_owner!=''">
                involved_owner,
            </if>
            <if test="input_type_id != null and input_type_id!='' ">
                input_type_id,
            </if>
            <if test="expired_time != null and expired_time!='' ">
                expired_time,
            </if>
            <if test="description != null and description!=''">
                description,
            </if>
            <if test="law_case_id != null and law_case_id!=''">
                case_id,
            </if>
            <if test="barcode != null and barcode!=''">
                barcode,
            </if>
            <if test="warehouseId != null ">
                warehouse_id,
            </if>
            <if test="number != null ">
                no,
            </if>

            <if test="uuid != null and uuid!=''">
                uuid,
            </if>
            <if test="op_pid != null and op_pid!=''">
                op_pid,
            </if>

            created_time,
            status,
            register_user_id,
            type
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name!='' ">
                #{name},
            </if>
            <if test="detail_count != null and detail_count !='' ">
                #{detail_count},
            </if>
            <if test="unit != null and unit!='' ">
                #{unit},
            </if>
            <if test="weight != null and weight!='' ">
                #{weight},
            </if>
            <if test="involved_type_id != null and involved_type_id!='' ">
                #{involved_type_id},
            </if>
            <if test="worth != null and worth!='' ">
                #{worth},
            </if>
            <if test="involved_owner != null and involved_owner!=''">
                #{involved_owner},
            </if>
            <if test="input_type_id != null and input_type_id!='' ">
                #{input_type_id},
            </if>
            <if test="expired_time != null and expired_time!='' ">
                #{expired_time},
            </if>
            <if test="description != null and description!=''">
                #{description},
            </if>
            <if test="law_case_id != null and law_case_id!=''">
                #{law_case_id},
            </if>
            <if test="barcode != null and barcode!=''">
                #{barcode},
            </if>
            <if test="warehouseId != null ">
                #{warehouseId},
            </if>
            <if test="number != null ">
                #{number},
            </if>
            <if test="uuid != null and uuid!=''">
                #{uuid},
            </if>
            <if test="op_pid != null and op_pid!=''">
                #{op_pid},
            </if>
            now(),
            1,
            #{register_user_id},
            1
        </trim>
    </insert>

    <update id="update" parameterType="com.zhixin.zhfz.sacw.entity.InvolvedEntity">
        update sa_involved
        set name = #{name},
        detail_count = #{detail_count},
        unit = #{unit},
        weight = #{weight},
        involved_type_id = #{involved_type_id},
        worth = #{worth},
        involved_owner = #{involved_owner},
        input_type_id = #{input_type_id},
        expired_time = #{expired_time},
        description = #{description},
        case_id = #{law_case_id},
        warehouse_id=#{warehouseId},
        no=#{number},
        updated_time=now()
        where id=#{id}
    </update>
    <select id="listInRecordPhoto" resultMap="involvedMap" parameterType="java.util.Map">
        select url from sa_input_photo where involved_id=#{involvedId}
    </select>

    <update id="updateStatus" parameterType="java.util.Map">
        UPDATE sa_involved
        <set>
            <if test="status != null and status!='' ">
                status=#{status},
            </if>
            <if test="status != null and status==2 ">
                input_time=now(),
            </if>
            <if test="status != null and status==3 ">
                output_time=now(),
            </if>
            <if test="outputCount != null and outputCount!=0 ">
                output_count=#{outputCount},
            </if>
            <if test="labelId != null and labelId!=0 ">
                label_id=#{labelId},
            </if>
            <if test="warehouseId != null and warehouseId!=0 ">
                warehouse_id=#{warehouseId},
            </if>
            updated_time=now()
        </set>
        WHERE id=#{id};
    </update>
    <update id="updateAllInvolvedStatus" parameterType="java.util.Map">
        update sa_involved
        set status=#{status},
        output_count=#{count},
        updated_time=now()
        where id=#{id}
    </update>
    <update id="updateAllInvolvedOutputNum" parameterType="java.util.Map">
        update sa_involved
        set output_count=#{count},
        updated_time=now()
        where id=#{id}
    </update>
    <update id="updateStatusById" parameterType="java.util.Map">
        update sa_involved
        set status=#{status},
        updated_time=now()
        where id=#{id}
    </update>
    <update id="changePosition" parameterType="java.util.Map">
        update sa_input_record
        <set>
            <if test="warehouseId != null and warehouseId!='' ">
                warehouse_id=#{warehouseId},
            </if>
            <if test="locationId != null and locationId!='' ">
                location_id=#{locationId},
            </if>
            <if test="shelfId != null and shelfId!='' ">
                shelf_id=#{shelfId},
            </if>
            updated_time=now()
        </set>
        where id=#{recordId};
    </update>

    <!-- 查询最后一条入库记录 -->
    <select id="listInRecordById" resultMap="inputRecordMap" parameterType="java.util.Map">
        select * from sa_input_record where involved_id=#{id} order by created_time desc limit 1
    </select>

    <delete id="deleteInvolved" parameterType="int">
        DELETE FROM sa_involved  WHERE id=#{id}
    </delete>


</mapper>