<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zhixin.zhfz.jzgl.dao.ajxx.IAjxxMapper">
	<resultMap id="AjxxMapper" type="com.zhixin.zhfz.jzgl.entity.AjxxEntity">
    	<id property="id" column="id"/>
    	<result property="ajmc" column="ajmc"/>
    	<result property="ajbh" column="ajbh"/>
    	<result property="ajzt" column="jz_ajzt"/>
    	<result property="zbmj" column="zbmj"/>
    	<result property="slsj" column="afsj"/>
    	<result property="orgId" column="org_id"/>
    	<result property="orgName" column="org_Name"/>
    	<result property="badw" column="badw"/>
    	<result property="cjsj" column="cjsj"/>
    	<result property="lasj" column="lasj"/>
    	<result property="jqbh" column="jqbh"/>
    	<result property="rkzt" column="jz_rkzt"/>
    	<result property="resource" column="resource"/>
    	<result property="ajlbz" column="ajlx"/>
    	<result property="ajztz" column="ajztz"/>
    	<result property="count" column="count"/>
    </resultMap>
    
     
    <!-- listAjxx -->
    <select id="listAjxx" resultMap="AjxxMapper" parameterType="java.util.Map" >
        SELECT aj.*,bm.name bmmc,z2.code_value ajztz,u.certificate_no AS zbmj
        FROM ba_case aj ,xt_user u, xt_organization bm , xt_code z2
        WHERE aj.zbmj_id = u.id
        AND u.organization_id = bm.id
        AND aj.jz_ajzt = z2.code_key
        AND z2.type = 'ajxx_state'
       
        <if test="badw !=null and badw !=''">
            and bm.name like '%${badw}%'
        </if>
        <if test="ajlb!=null and ajlb !=''">
            and aj.ajlx = #{ajlb}
        </if>
        <if test="ajmc!=null and ajmc!=''">
            and aj.ajmc like '%${ajmc}%'
        </if>
        <if test="zbmj!=null and zbmj!=''">
            and u.certificate_no like '%${zbmj}%'
        </if>
        <if test="rkzt!=null and rkzt!=''">
            and aj.jz_rkzt = #{rkzt}
        </if>
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
      order by id DESC
    </select>
    
    <!-- countAjxx -->
    <select id="countAjxx" resultType="int" parameterType="java.util.Map" >
        select count(*)
        FROM ba_case aj ,xt_user u, xt_organization bm , xt_code z2
        WHERE aj.zbmj_id = u.id
        AND u.organization_id = bm.id
        AND aj.jz_ajzt = z2.code_key
        AND z2.type = 'ajxx_state'
        
        <if test="badw !=null and badw !=''">
            and bm.name like '%${badw}%'
        </if>
        <if test="ajlb!=null and ajlb !=''">
            and aj.ajlx = #{ajlb}
        </if>
        <if test="ajmc!=null and ajmc!=''">
            and aj.ajmc like '%${ajmc}%'
        </if>
        <if test="zbmj!=null and zbmj!=''">
            and u.certificate_no like '%${zbmj}%'
        </if>
        <if test="rkzt!=null and rkzt!=''">
             and aj.jz_rkzt = #{rkzt}
        </if>
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
    </select>
    
     <!-- 入库修改 -->
    <update id="updateRkAjxx" parameterType="com.zhixin.zhfz.jzgl.entity.AjxxEntity">
            UPDATE ba_case SET
	    		ajmc=#{ajmc},
	    		ajbh=#{ajbh},
	    		jz_rkzt=#{rkzt}
            WHERE 
	    		id=#{id}
    </update>
</mapper>


