<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="reportViewAskManage" class="com.zhixin.zhfz.bacs.entity.ReportViewManagement"></bean>
	<bean id="reportViewOrder" class="com.zhixin.zhfz.bacs.entity.ReportViewOrder"></bean>
	<bean id="waitingHitoryManagement" class="com.zhixin.zhfz.bacs.entity.WaitingHitoryManagement"></bean>
     
     <bean id="reportView" class="com.zhixin.zhfz.bacs.entity.ReportView"></bean>
</beans>