<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.bacs.dao.exhibit.IExhibitdetMapper">
    <resultMap id="BaseResultMap" type="ExhibitEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="exhibit_id" property="exhibitId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="detail_count" property="detailCount" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="serial_id" property="serialId" jdbcType="BIGINT"/>
        <result column="locker_id" property="lockerId" jdbcType="VARCHAR"/>
        <result column="is_get" property="isGet" jdbcType="INTEGER"/>
        <result column="get_way" property="getWay" jdbcType="VARCHAR"/>
        <result column="get_person" property="getPerson" jdbcType="VARCHAR"/>
        <result column="get_time" property="getTime" jdbcType="TIMESTAMP"/>
        <result column="serial_no" property="serialNo" jdbcType="VARCHAR"/>
        <result column="person_name" property="personName" jdbcType="VARCHAR"/>
        <result column="cabinet_group" property="cabinetGroup" jdbcType="VARCHAR"/>
        <result column="cabinet_no" property="cabinetNo" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="caseNo" property="caseNo" jdbcType="VARCHAR"/>
        <result column="area_name" property="areaName" jdbcType="VARCHAR"/>
        <!-- 链表 -->
        <result column="logId" property="logId" jdbcType="INTEGER"/>
        <result column="logBelongId" property="logBelongId" jdbcType="INTEGER"/>
        <result column="logExhibitId" property="logExhibitId" jdbcType="INTEGER"/>
        <result column="logBelongLockerId" property="logBelongLockerId" jdbcType="VARCHAR"/>
        <result column="logBelongOpener" property="logBelongOpener" jdbcType="VARCHAR"/>
        <result column="logBelongReason" property="logBelongReason" jdbcType="VARCHAR"/>
        <result column="logCreatedTime" property="logCreatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, exhibit_id, name, detail_count, description, is_get, get_way, get_person, 
    get_time
  </sql>
    <!-- 查询涉案物品开柜记录  -->
    <select id="queryExhibitCabinetLog" resultMap="BaseResultMap" parameterType="java.util.Map">
        select bcl.id as logId,
        bcl.exhibit_id as logExhibitId,
        dl.open_key as logBelongLockerId,
        bcl.opener as logBelongOpener,
        bcl.reason as logBelongReason,
        bcl.created_time as logCreatedTime
        from ba_exhibit_cabinet_log bcl left join ba_cabinet_config_detail dl on dl.id = bcl.locker_id
        where 1 = 1
        <if test="enpId!=null and enpId!=''">
            and bcl.exhibit_id= #{enpId}
            limit ${pageStart},${rows}
        </if>
    </select>
    <!-- 查询涉案物品开柜总数  -->
    <select id="countExhibitCabinetLog" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1)
        from ba_exhibit_cabinet_log bcl left join ba_cabinet_config_detail dl on dl.id = bcl.locker_id
        where 1 = 1
        <if test="enpId!=null and enpId!=''">
            and bcl.exhibit_id= #{enpId}
        </if>
    </select>
    <!-- 根据涉案存物id查询具体存物信息 -->
    <select id="listAllExhibitdet" resultMap="BaseResultMap" parameterType="java.util.Map">
        select d.* from ba_exhibit_detail d where 1=1
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
        <if test="enpId!=null and enpId!=''">
            and d.exhibit_id = #{enpId}
        </if>
    </select>
    <!-- 查询具体的未领取的涉案存物信息 -->
    <select id="listAllExhibitdet2" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        d.id,
        d.exhibit_id,
        d.is_get,
        d.get_way,
        d.get_person,
        d.get_time,
        d.unit,
        s.serial_no,
        b.locker_id,
        d.`name`,
        d.detail_count,
        d.description,
        pn. NAME person_name,
        dl.open_key cabinet_no,
        cf.`name` cabinet_group
        FROM
        ba_exhibit b
        LEFT JOIN ba_exhibit_detail d ON d.exhibit_id = b.id
        LEFT JOIN ba_serial s ON s.id = b.serial_id
        LEFT JOIN ba_person pn ON pn.id = s.person_id
        LEFT JOIN ba_cabinet_config_detail dl ON dl.id = b.locker_id
        LEFT JOIN xt_user xu ON xu.id = s.in_register_user_id
        LEFT JOIN xt_user xu2 ON xu2.id = s.out_register_user_id
        LEFT JOIN ba_cabinet_config cf ON cf.id = dl.config_id
        WHERE
        d.is_get = 0
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
        <if test="lockerId!=null and lockerId!='' and enpId==null">
            and b.locker_id=#{lockerId}
        </if>
        <if test="enpId!=null and enpId!=''">
            and b.serial_id = #{enpId}
        </if>
    </select>
    <!-- 查询具体的涉案存物信息 -->
    <select id="listAllExhibitdet3" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        d.id,
        d.exhibit_id,
        d.is_get,
        d.get_way,
        d.get_person,
        d.get_time,
        d.unit,
        s.serial_no,
        b.locker_id,
        d.`name`,
        d.detail_count,
        d.description,
        pn. NAME person_name,
        dl.open_key cabinet_no,
        cf.`name` cabinet_group,
        s.id serial_id,
        d.get_time
        FROM
        ba_exhibit b
        LEFT JOIN ba_exhibit_detail d ON d.exhibit_id = b.id
        LEFT JOIN ba_serial s ON s.id = b.serial_id
        LEFT JOIN ba_person pn ON pn.id = s.person_id
        LEFT JOIN ba_cabinet_config_detail dl ON dl.id = b.locker_id
        LEFT JOIN ba_cabinet_config cf ON cf.id = dl.config_id
        WHERE
        1 = 1
       <!--  and d.is_get=0 -->
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
        <if test="lockerId!=null and lockerId!='' and enpId==null">
            and b.locker_id=${lockerId}
        </if>
        <if test="enpId!=null and enpId!=''">
            and b.serial_id = #{enpId}
        </if>
    </select>
    <!-- 根据具体的存物id查询物品的具体信息 -->
    <select id="listAllExhibitdet4" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
            c.ajmc casename,
            c.ajbh caseNo,
            a.`name` area_name,
            d.id,
            d.exhibit_id,
            d.is_get,
            d.get_way,
            d.get_person,
            d.get_time,
            s.serial_no,
            b.locker_id,
            d.`name`,
            d.detail_count,
            d.description,
            s.id serial_id,
            d.get_time
        FROM
            ba_exhibit_detail d,
            ba_area a,
            ba_serial s,
            ba_CASE c,
            ba_exhibit b
        WHERE
            d.exhibit_id = b.id
        AND s.area_id = a.id
        AND s.id = b.serial_id
        AND s.case_id = c.id
        and d.id=#{id}
    </select>
    <!-- 根据id删除物品具体信息 -->
    <delete id="deleteExhibitdet" parameterType="Long">
    delete from ba_exhibit_detail
    where id = #{id}
  </delete>
    <!-- 根据存物id删除物品具体信息 -->
    <delete id="deleteExhibitdetsecond" parameterType="Long">
    delete from ba_exhibit_detail
    where exhibit_id = #{id}
  </delete>
    <!-- 增加具体存物信息 -->
    <insert id="insertExhibitdet" parameterType="ExhibitEntity"
            useGeneratedKeys="true" keyProperty="id">
    insert into ba_exhibit_detail (id, exhibit_id, name,
      detail_count, description, is_get, 
      get_way, get_person, get_time,unit
      )
    values (#{id,jdbcType=INTEGER}, #{exhibitId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{detailCount,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{isGet,jdbcType=INTEGER}, 
      #{getWay,jdbcType=VARCHAR}, #{getPerson,jdbcType=VARCHAR}, #{getTime,jdbcType=TIMESTAMP},#{unit,jdbcType=VARCHAR}
      )
  </insert>
    <!-- 创建开柜记录 -->
    <insert id="creatBoxopenouts" parameterType="ExhibitEntity"
            useGeneratedKeys="true" keyProperty="id">
    insert into ba_exhibit_cabinet_log (id, exhibit_id, locker_id,
      opener, reason, created_time
      )
    values (#{id,jdbcType=INTEGER}, #{exhibitId,jdbcType=INTEGER}, #{lockerId,jdbcType=VARCHAR}, 
      #{getPerson,jdbcType=VARCHAR}, #{getWay,jdbcType=VARCHAR}, #{getTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <!-- 修改存物信息 -->
    <update id="updateBoxopenouts" parameterType="ExhibitEntity">
        update ba_exhibit_detail
        <set>
            <if test="exhibitId != null">
                exhibit_id = #{exhibitId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="detailCount != null">
                detail_count = #{detailCount,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="isGet != null">
                is_get = #{isGet,jdbcType=INTEGER},
            </if>
            <if test="getWay != null">
                get_way = #{getWay,jdbcType=VARCHAR},
            </if>
            <if test="getPerson != null">
                get_person = #{getPerson,jdbcType=VARCHAR},
            </if>
            <if test="getTime != null">
                get_time = #{getTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!-- 修改存物信息 -->
    <update id="updateExhibitdet" parameterType="ExhibitEntity">
        update ba_exhibit_detail
        <set>
            <if test="exhibitId != null">
                exhibit_id = #{exhibitId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="detailCount != null">
                detail_count = #{detailCount,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!-- 根据存物id查询下面所有物品的总数 -->
    <select id="count1" resultType="java.lang.Integer" parameterType="java.util.Map">
	select count(t.id) from ba_exhibit i ,ba_exhibit_detail t
	where
	1 = 1
	and i.id = t.exhibit_id
	and i.id = #{enpId}	
    </select>
    <!--更新该专属编号下每件物品的提取状态，信息-->
    <update id="updateBoxopenoutdets" parameterType="ExhibitEntity">
        update ba_exhibit_detail
        <set>
            <if test="isGet != null">
                is_get = #{isGet,jdbcType=INTEGER},
            </if>
            <if test="getWay != null">
                get_way = #{getWay,jdbcType=VARCHAR},
            </if>
            <if test="getPerson != null">
                get_person = #{getPerson,jdbcType=VARCHAR},
            </if>
            <if test="getTime != null">
                get_time = #{getTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where is_get=0 and exhibit_id = #{exhibitId,jdbcType=INTEGER}
    </update>
    <!-- 查询存物id下的所有物品的总数 -->
    <select id="countByBelongId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
       select count(1) from ba_exhibit_detail where is_get = 0 and exhibit_id = #{id}
  </select>
    <!-- 查询所有物品的状态 -->
    <select id="getDetailStatistics" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        a.name area_name,d.`name`,
        CASE d.get_way
        WHEN 1 THEN
        '扣押'
        WHEN 0 THEN
        '未处理'
        WHEN 2 THEN
        '没收'
        WHEN 3 THEN
        '收缴'
        WHEN 4 THEN
        '移交'
        END get_way,
        count(*) detail_count
        FROM
        ba_area a,
        ba_exhibit_detail d,
        ba_exhibit e
        WHERE
        a.id = e.area_id
        AND d.exhibit_id = e.id
        <if test="areaId!=null and areaId!=''">
            and a.id = #{areaId}
        </if>
        <if test="startTime!='' and startTime!=null">
            and e.created_time &gt; #{startTime}
        </if>
        <if test="endTime!='' and endTime!=null">
            and e.created_time &lt; #{endTime}
        </if>
        GROUP BY
        get_way
    </select>
</mapper>