<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.glpt.dao.ryPatrol.IRyPatrolMapper">


	<resultMap id="serialMap" type="com.zhixin.zhfz.bacs.entity.SerialEntity">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="serial_no" property="serialNo" jdbcType="VARCHAR" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="status_change_time" property="statusChangeTime" jdbcType="TIMESTAMP" />
		<result column="person_id" property="personId" jdbcType="BIGINT" />
		<result column="send_user_id" property="sendUserId" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="birth" property="birth" jdbcType="TIMESTAMP" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="order_request_id" property="orderId" jdbcType="INTEGER" />
		<result column="order_no" property="orderNo" jdbcType="VARCHAR" />
		<result column="area_id" property="areaId"
				jdbcType="INTEGER" />
		<result column="case_id" property="caseId"
				jdbcType="INTEGER" />
		<result column="interrogate_case_name" property="interrogateCaseName"
				jdbcType="VARCHAR" />
		<result column="involved_reason" property="involvedReason"
				jdbcType="VARCHAR" />
		<result column="case_type" property="caseType" jdbcType="INTEGER" />
		<result column="case_nature" property="caseNature" jdbcType="VARCHAR" />
		<result column="cuff_id" property="cuffId" jdbcType="INTEGER" />
		<result column="police_cuff_id1" property="policeCuffId1"
				jdbcType="INTEGER" />
		<result column="police_cuff_id2" property="policeCuffId2"
				jdbcType="INTEGER" />
		<result column="cuff_no" property="cuffNo" jdbcType="VARCHAR" />
		<result column="police_cuff_no1" property="policeCuffNo1"
				jdbcType="VARCHAR" />
		<result column="police_cuff_no2" property="policeCuffNo2"
				jdbcType="VARCHAR" />
		<result column="in_photo_name" property="inPhotoId" jdbcType="VARCHAR" />
		<result column="in_user_id1" property="inUserId1" jdbcType="INTEGER" />
		<result column="in_user_real_name1" property="inUserRealName1"
				jdbcType="VARCHAR" />
		<result column="organization" property="organization" jdbcType="VARCHAR" />
		<result column="in_user_id2" property="inUserId2" jdbcType="INTEGER" />
		<result column="in_user_real_name1" property="inUserRealName1"
				jdbcType="VARCHAR" />
		<result column="in_user_real_name2" property="inUserRealName2"
				jdbcType="VARCHAR" />
		<result column="in_register_user_id" property="inRegisterUserId"
				jdbcType="INTEGER" />
		<result column="in_register_user_real_name" property="inRegisterUserRealName"
				jdbcType="VARCHAR" />
		<result column="in_time" property="inTime" jdbcType="TIMESTAMP" />
		<result column="out_reason" property="outReason" jdbcType="VARCHAR" />
		<result column="out_photo_name" property="outPhotoId" jdbcType="VARCHAR" />
		<result column="out_time" property="outTime" jdbcType="TIMESTAMP" />
		<result column="out_type" property="outType" jdbcType="INTEGER" />
		<result column="out_register_user_id" property="outRegisterUserId"
				jdbcType="INTEGER" />
		<result column="out_register_user_real_name" property="outRegisterUserRealName"
				jdbcType="VARCHAR" />
		<result column="out_user_id1" property="outUserId1" jdbcType="INTEGER" />
		<result column="out_user_real_name1" property="outUserRealName1"
				jdbcType="VARCHAR" />
		<result column="out_user_id2" property="outUserId2" jdbcType="INTEGER" />
		<result column="out_user_real_name2" property="outUserRealName2"
				jdbcType="VARCHAR" />
		<result column="certificate_type_id" property="certificateTypeId"
				jdbcType="INTEGER" />
		<result column="certificate_type_name" property="certificateTypeName"
				jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="in_user_no1" property="inUserNo1" jdbcType="VARCHAR" />
		<result column="in_user_no2" property="inUserNo2" jdbcType="VARCHAR" />
		<result column="confirm_time" property="confirmTime" jdbcType="TIMESTAMP" />
		<result column="confirm_result" property="confirmResult"
				jdbcType="VARCHAR" />

		<result column="person_info" property="personInfo" jdbcType="VARCHAR" />

		<result column="entrance_procedure" property="entranceProcedure" jdbcType="VARCHAR" />
		<result column="written_time" property="writtenTime" jdbcType="TIMESTAMP" />

		<!-- 文书需要的东西 -->
		<result column="certificate_no" property="certificateNo"
				jdbcType="VARCHAR" />
		<result column="person_type" property="personType" jdbcType="VARCHAR" />
		<result column="police_realname" property="policeRealName"
				jdbcType="VARCHAR" />
		<result column="flog" property="flog" jdbcType="INTEGER" />
		<result column="person_name" property="personName" />

		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="nation" property="nation" jdbcType="VARCHAR" />
		<result column="height" property="height" jdbcType="VARCHAR" />
		<result column="weight" property="weight" jdbcType="VARCHAR" />
		<result column="bodysize" property="bodysize" jdbcType="VARCHAR" />
		<result column="faceShape" property="faceShape" jdbcType="VARCHAR" />
		<result column="footsize" property="footsize" jdbcType="VARCHAR" />
		<result column="caseName" property="caseName" jdbcType="VARCHAR" />

		<result column="informationContent" property="informationContent"
				jdbcType="VARCHAR" />
		<result column="fomate" property="fomate" jdbcType="VARCHAR" />
		<result column="extractTime" property="extractTime" jdbcType="VARCHAR" />
		<result column="extractSites" property="extractSites" jdbcType="VARCHAR" />
		<result column="extractMethod" property="extractMethod"
				jdbcType="VARCHAR" />
		<result column="vedioResouce" property="vedioResouce" jdbcType="VARCHAR" />
		<result column="isOriginal" property="isOriginal" jdbcType="VARCHAR" />
		<result column="reason" property="reason" jdbcType="VARCHAR" />
		<result column="witnesses" property="witnesses" jdbcType="VARCHAR" />
		<result column="saveSpace" property="saveSpace" jdbcType="VARCHAR" />
		<result column="maker" property="maker" jdbcType="VARCHAR" />
		<result column="policemen" property="policemen" jdbcType="VARCHAR" />
		<result column="workspce" property="workspce" jdbcType="VARCHAR" />

		<result column="docInjuryisOriginal" property="docInjuryisOriginal"
				jdbcType="VARCHAR" />
		<result column="docInjurymakeSites" property="docInjurymakeSites"
				jdbcType="VARCHAR" />
		<result column="docInjurymakeTime" property="docInjurymakeTime"
				jdbcType="VARCHAR" />
		<result column="docInjurymaker" property="docInjurymaker"
				jdbcType="VARCHAR" />
		<result column="docInjuryrecordPerson" property="docInjuryrecordPerson"
				jdbcType="VARCHAR" />
		<result column="docInjurysaveSpace" property="docInjurysaveSpace"
				jdbcType="VARCHAR" />
		<result column="docInjurytheLord" property="docInjurytheLord"
				jdbcType="VARCHAR" />
		<result column="docInjurywitnesses" property="docInjurywitnesses"
				jdbcType="VARCHAR" />
		<result column="docInjuryworkspce" property="docInjuryworkspce"
				jdbcType="VARCHAR" />
		<result column="docInjurycontent" property="docInjurycontent"
				jdbcType="VARCHAR" />


		<result column="docSpaceisOriginal" property="docSpaceisOriginal"
				jdbcType="VARCHAR" />
		<result column="docSpacemakeSites" property="docSpacemakeSites"
				jdbcType="VARCHAR" />
		<result column="docSpacemakeTime" property="docSpacemakeTime"
				jdbcType="VARCHAR" />
		<result column="docSpacemaker" property="docSpacemaker"
				jdbcType="VARCHAR" />
		<result column="docSpacerecordPerson" property="docSpacerecordPerson"
				jdbcType="VARCHAR" />
		<result column="docSpacesaveSpace" property="docSpacesaveSpace"
				jdbcType="VARCHAR" />
		<result column="docSpacetheLord" property="docSpacetheLord"
				jdbcType="VARCHAR" />
		<result column="docSpacewitnesses" property="docSpacewitnesses"
				jdbcType="VARCHAR" />
		<result column="docSpaceworkspce" property="docSpaceworkspce"
				jdbcType="VARCHAR" />
		<result column="docSpacecontent" property="docSpacecontent"
				jdbcType="VARCHAR" />
		<result column="nickName" property="nickName" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="qq" property="qq" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="censusRegister" property="censusRegister"
				jdbcType="VARCHAR" />
		<result column="job" property="job" jdbcType="VARCHAR" />

		<result column="phmakeAddress" property="phmakeAddress"
				jdbcType="VARCHAR" />
		<result column="phevidenceExplain" property="phevidenceExplain"
				jdbcType="VARCHAR" />
		<result column="phmakeAddress" property="phmakeAddress"
				jdbcType="VARCHAR" />
		<result column="phstorageAddress" property="phstorageAddress"
				jdbcType="VARCHAR" />
		<result column="phmakeTime" property="phmakeTime" jdbcType="VARCHAR" />
		<result column="phchecks" property="phchecks" jdbcType="VARCHAR" />
		<result column="phparty" property="phparty" jdbcType="VARCHAR" />
		<result column="phproducer" property="phproducer" jdbcType="VARCHAR" />
		<result column="phshootingPerson" property="phshootingPerson"
				jdbcType="VARCHAR" />
		<result column="phunit" property="phunit" jdbcType="VARCHAR" />
		<result column="phwitnessPerson" property="phwitnessPerson"
				jdbcType="VARCHAR" />

		<result column="efdataContent" property="efdataContent"
				jdbcType="VARCHAR" />
		<result column="efevidtime" property="efevidtime" jdbcType="VARCHAR" />
		<result column="efextractionAddress" property="efextractionAddress"
				jdbcType="VARCHAR" />
		<result column="efextractionMethod" property="efextractionMethod"
				jdbcType="VARCHAR" />
		<result column="efformat" property="efformat" jdbcType="VARCHAR" />
		<result column="eforiginal" property="eforiginal" jdbcType="VARCHAR" />
		<result column="eforiginalplace" property="eforiginalplace"
				jdbcType="VARCHAR" />
		<result column="efpoliceName" property="efpoliceName" jdbcType="VARCHAR" />
		<result column="efproducer" property="efproducer" jdbcType="VARCHAR" />
		<result column="efreason" property="efreason" jdbcType="VARCHAR" />
		<result column="efunit" property="efunit" jdbcType="VARCHAR" />
		<result column="efvideosource" property="efvideosource"
				jdbcType="VARCHAR" />
		<result column="efwitnessPerson" property="efwitnessPerson"
				jdbcType="VARCHAR" />
		<result column="interrogate_area_name" property="interrogateAreaName"
				jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="serialMap1" type="com.zhixin.zhfz.glpt.form.PersonTrailForm">

		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
		<result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="in_time" property="inTime" jdbcType="TIMESTAMP" />
		<result column="out_time" property="outTime" jdbcType="TIMESTAMP" />
		<result column="is_get" property="isGet" jdbcType="INTEGER" />
		<result column="count" property="count" jdbcType="INTEGER" />
		<result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
		<result column="get_result" property="getResult" jdbcType="VARCHAR" />
		<result column="slsj" property="slsj" jdbcType="TIMESTAMP" />
		<result column="rybh" property="rybh" jdbcType="TIMESTAMP" />
		<result column="chuliResult" property="chuliResult" jdbcType="VARCHAR" />
		<result column="personTime" property="personTime" jdbcType="TIMESTAMP" />

	</resultMap>

	<select id="list" resultMap="serialMap" parameterType="java.util.Map">
		select
		ints.uuid,ints.id,ints.serial_no,ints.`status`,ints.status_change_time,ints.confirm_time,ints.confirm_result,
		ints.person_id,ints.person_info,p.`name`,p.sex,p.certificate_type_id,p.certificate_no,
		(select xc.code_value from xt_code xc where xc.type = 'ZJZLID' and xc.code_key = p.certificate_type_id) certificate_type_name ,
		ints.type,ints.order_request_id,o.order_no,ints.area_id,
		ia.`name` interrogate_area_name,ints.case_id,ic.ajmc interrogate_case_name,
		ints.cuff_id,c.cuff_no,ints.in_photo_name,
		inuser1.id in_user_id1, inuser1.real_name in_user_real_name1,inuser1.certificate_no in_user_no1,
		(select `name` from xt_organization o where o.id = inuser1.organization_id) as organization,
		ints.in_register_user_id,inregister.real_name in_register_user_real_name,
		ints.in_time,ints.out_reason,ints.out_photo_name,ints.out_time,ints.out_type,
		ic.ajlx case_type, ct.code_desc case_nature,ints.out_register_user_id,outregister.real_name
		out_register_user_real_name,ints.entrance_procedure,ints.written_time
		from ba_serial ints
		left join ba_person p on ints.person_id=p.id
		left join ba_order_request o on ints.order_request_id=o.id
		left join ba_area ia on ints.area_id=ia.id
		left join ba_case ic on ints.case_id=ic.id
		left join xt_crime_define ct on ct.id=ic.ab
		left join ba_cuff c on ints.cuff_id=c.id
		left join xt_user inuser1 on ic.zbmj_id=inuser1.id
		left join xt_user inregister on ints.in_register_user_id=inregister.id
		left join xt_user outregister on ints.out_register_user_id=outregister.id
		where 1=1
		and ints.type=0
		<if test="dataAuth!=null and dataAuth!=''">
			and ${dataAuth}
		</if>
		<if test="name!=null and name!=''">
			and p.name like '%${name}%'
		</if>
		<if test="certificateNo!=null and certificateNo!=''">
			and p.certificate_no like '%${certificateNo}%'
		</if>
		<if test="status!=null and status!=''">
			and ints.status &lt;#{status}
		</if>
		<if test="start_date!=null and start_date!=''">
			and ints.in_time &gt;=#{start_date}
		</if>
		<if test="end_date!=null and end_date!=''">
			and ints.in_time &lt;=#{end_date}
		</if>
		<if test="caseId !=null and caseId !=''">
			and ints.case_id = #{caseId}
		</if>
		<if test="areaId !=null and areaId !=''">
			and ints.area_id = #{areaId}
		</if>
		order by ints.id desc
		limit ${pageStart},${rows}
	</select>



	<select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(*) from ba_serial ints
		left join ba_person p on ints.person_id=p.id
		left join ba_order_request o on ints.order_request_id=o.id
		left join ba_area ia on ints.area_id=ia.id
		left join ba_case ic on ints.case_id=ic.id
		left join xt_crime_define ct on ct.id=ic.ab
		left join ba_cuff c on ints.cuff_id=c.id
		left join xt_user inuser1 on ic.zbmj_id=inuser1.id
		left join xt_user inregister on ints.in_register_user_id=inregister.id
		left join xt_user outregister on ints.out_register_user_id=outregister.id
		where 1=1
		<if test="dataAuth!=null and dataAuth!=''">
			and ${dataAuth}
		</if>
		<if test="name!=null and name!=''">
			and p.name like '%${name}%'
		</if>
		<if test="certificateNo!=null and certificateNo!=''">
			and p.certificate_no like '%${certificateNo}%'
		</if>
		<if test="status!=null and status!=''">
			and ints.status &lt;#{status}
		</if>
		<if test="start_date!=null and start_date!=''">
			and ints.in_time &gt;=#{start_date}
		</if>
		<if test="end_date!=null and end_date!=''">
			and ints.in_time &lt;=#{end_date}
		</if>
		<if test="caseId !=null and caseId !=''">
			and ints.case_id = #{caseId}
		</if>
		<if test="areaId !=null and areaId !=''">
			and ints.area_id = #{areaId}
		</if>
	</select>


	<!-- 查询预约人员轨迹 -->
	<select id="selectOrderTrail" resultMap="serialMap1" parameterType="java.util.Map">

		SELECT r.id,r.created_time,r.updated_time,r.`status`,s.in_time FROM ba_serial s

		LEFT JOIN ba_order_request r on r.id= s.order_request_id

		where 1=1
		<if test="id != null and id != ''">
			and s.id= #{id}
		</if>

		<if test="areaId != null and areaId != ''">
			and s.area_id = #{areaId}
		</if>

	</select>


	<!-- 查询入区人员轨迹 -->
	<select id="selectSerialTrail" resultMap="serialMap1" parameterType="java.util.Map">

		SELECT r.id,r.created_time,r.updated_time,r.`status` FROM ba_serial s

		LEFT JOIN ba_order_person o ON o.id= s.person_id

		LEFT JOIN ba_order_request r on r.id= o.order_request_id

		where 1=1
		<if test="id != null and id != ''">
			and s.person_id = #{id}
		</if>

		<if test="areaId != null and areaId != ''">
			and s.area_id = #{areaId}
		</if>

	</select>


	<!-- 查询安检人员轨迹 -->
	<select id="selectCheckTrail" resultMap="serialMap1" parameterType="java.util.Map">

		SELECT se.id,se.count,se.created_time FROM ba_security se

		LEFT JOIN ba_serial ser ON se.serial_id=ser.id
		where 1=1
		<if test="id != null and id != ''">
			and ser.id = #{id}
		</if>

		<if test="areaId != null and areaId != ''">
			and ser.area_id = #{areaId}
		</if>

	</select>

	<!-- 查询信息采集人员轨迹 -->
	<select id="selectCollectionTrail" resultMap="serialMap1" parameterType="java.util.Map">

		SELECT c.id,c.register_time FROM ba_collection c

		LEFT JOIN ba_serial ser ON c.serial_id=ser.id
		where 1=1
		<if test="id != null and id != ''">
			and ser.id = #{id}
		</if>

		<if test="areaId != null and areaId != ''">
			and ser.area_id = #{areaId}
		</if>

	</select>

	<!-- 查询存物取物人员轨迹 -->
	<select id="selectBelongTrail" resultMap="serialMap1" parameterType="java.util.Map">

		SELECT b.id,b.created_time,b.is_get,b.register_time FROM ba_belongings b

		LEFT JOIN ba_serial ser ON b.serial_id=ser.id
		where 1=1
		<if test="id != null and id != ''">
			and ser.id = #{id}
		</if>

		<if test="areaId != null and areaId != ''">
			and ser.area_id = #{areaId}
		</if>

	</select>


	<!-- 查询候问提讯人员轨迹 -->
	<select id="selectWaitRecordTrail" resultMap="serialMap1" parameterType="java.util.Map">

		SELECT w.id,w.created_time,w.in_time,w.out_time,w.status,w.get_result FROM ba_waiting_record w

		LEFT JOIN ba_serial ser ON w.serial_id=ser.id
		where 1=1
		<if test="id != null and id != ''">
			and ser.id = #{id}
		</if>

		<if test="areaId != null and areaId != ''">
			and ser.area_id = #{areaId}
		</if>

	</select>


	<!-- 查询尿检人员轨迹 -->
	<select id="selectUrinalysisTrail" resultMap="serialMap1" parameterType="java.util.Map">

		SELECT u.id,u.urinalysis_time as register_time FROM ba_urinalysis u

		LEFT JOIN ba_serial ser ON u.serial_id=ser.id
		where 1=1
		<if test="id != null and id != ''">
			and ser.id = #{id}
		</if>

		<if test="areaId != null and areaId != ''">
			and ser.area_id = #{areaId}
		</if>

	</select>

	<!-- 查询审讯人员轨迹 -->
	<select id="selectRecordTrail" resultMap="serialMap1" parameterType="java.util.Map">

		SELECT re.id,re.start_time as register_time, re.end_time as out_time  FROM ba_record re

		LEFT JOIN ba_serial ser ON re.serial_id=ser.id
		where 1=1
		<if test="id != null and id != ''">
			and ser.id = #{id}
		</if>

		<if test="areaId != null and areaId != ''">
			and ser.area_id = #{areaId}
		</if>

	</select>

	<!-- 查询警综案件 -->
	<select id="selectJzAjxx" resultMap="serialMap1" parameterType="java.util.Map">
		select a.rybh,c.slsj from ba_serial a
		left join ba_case b on a.case_id = b.id
		LEFT JOIN ajxx_temp c ON c.ajbh= b.ajbh
		where 1=1
		<if test="id != null and id != ''">
			and a.id = #{id}
		</if>
		<if test="areaId != null and areaId != ''">
			and a.area_id = #{areaId}
		</if>
		limit 0,1
	</select>

	<!-- 查询警综人员 -->
	<select id="selectJzPerson" resultMap="serialMap1" parameterType="java.util.Map">
		select a.cljd chuliResult,a.pzsj personTime from rycljd a
		where 1=1
		<if test="rybh != null and rybh != ''">
			and a.rybh = #{rybh}
		</if>
	</select>
</mapper>