<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.sacw.dao.outrecordphoto.IOutRecordPhotoMapper">

    <resultMap id="outRecordPhotoResultMap" type="com.zhixin.zhfz.sacw.entity.OutRecordPhotoEntity">
        <id property="id" column="id"/>
        <result property="outputRecordId" column="output_record_id"/>
        <result property="involvedId" column="involved_id"/>
        <result property="url" column="url"/>
        <result property="uuid" column="uuid"/>
        <result property="fileName" column="file_name"/>
        <result property="createdTime" column="created_time"/>
        <result column="op_pid" property="op_pid" jdbcType="VARCHAR"/>
        <result column="op_user_id" property="op_user_id" jdbcType="INTEGER"/>
        <!-- 外 -->
        <result property="involvedIdName" column="involvedIdName"/>
        <result property="warehouseId" column="warehouse_id"/>

    </resultMap>

    <!-- id is same to interface'methmod -->
    <select id="listOutRecordPhoto" resultMap="outRecordPhotoResultMap"
            parameterType="java.util.Map">
        select * from sa_output_photo where involved_id = #{involvedId} order by id desc limit 1
    </select>
    <select id="count" resultType="java.lang.Integer"
            parameterType="java.util.Map">
        select count(1) from sa_output_photo where involved_id = #{involvedId}
    </select>
    <insert id="insertOutRecordPhoto" parameterType="com.zhixin.zhfz.sacw.entity.OutRecordPhotoEntity">
        insert into sa_output_photo (output_record_id,involved_id,url,uuid,file_name,op_pid,op_user_id,created_time)
        values (#{outputRecordId},#{involvedId},#{url},#{uuid},#{fileName},#{op_pid},#{op_user_id},now())
    </insert>


    <select id="listOutRecordPhotoById" resultMap="outRecordPhotoResultMap"
            parameterType="java.util.Map">
        select a.*,b.warehouse_id from sa_output_photo a,sa_involved b where
        a.involved_id = b.id
        <if test="id !=null and id !=''">
            AND a.output_record_id = #{id}
        </if>
        <if test="invId !=null and invId !=''">
            AND a.involved_id = #{invId}
        </if>
        order by a.created_time DESC
    </select>

</mapper>