<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.sacw.dao.outputRecord.IOutputRecordMapper">
    <resultMap id="outputRecordMap" type="com.zhixin.zhfz.sacw.entity.OutputRecordEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="involved_id" property="involvedId" jdbcType="BIGINT"/>
        <result column="register_user_id" property="registerUserId" jdbcType="INTEGER"/>
        <result column="output_time" property="outputTime" jdbcType="TIMESTAMP"/>
        <result column="shelf_id" property="shelfId" jdbcType="INTEGER"/>
        <result column="location_id" property="locationId" jdbcType="INTEGER"/>
        <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER"/>
        <result column="law_case_id" property="lawCaseId" jdbcType="INTEGER"/>
        <result column="involved_type_id" property="involvedTypeId" jdbcType="INTEGER"/>
        <result column="output_type_id" property="outputTypeId" jdbcType="INTEGER"/>
        <result column="organization_id" property="organizationId" jdbcType="INTEGER"/>
        <result column="police_id" property="policeId" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
        <result column="count" property="count" jdbcType="VARCHAR"/>
        <result column="caseNo" property="caseNo" jdbcType="VARCHAR"/>
        <result column="caseName" property="caseName" jdbcType="VARCHAR"/>
        <result column="involvedType" property="involvedType" jdbcType="VARCHAR"/>
        <result column="outputType" property="outputType" jdbcType="VARCHAR"/>
        <result column="goodsName" property="goodsName" jdbcType="VARCHAR"/>
        <result column="getPoliceName" property="getPoliceName" jdbcType="VARCHAR"/>
        <result column="getUnit" property="getUnit" jdbcType="VARCHAR"/>
        <result column="logName" property="logName" jdbcType="VARCHAR"/>
        <result column="dept" property="dept" jdbcType="VARCHAR"/>
        <result column="allCount" property="allCount" jdbcType="INTEGER"/>
        <result column="leftCount" property="leftCount" jdbcType="INTEGER"/>
        <result column="handler_person" property="handlerPerson" jdbcType="VARCHAR"/>
        <result column="uuid" property="uuid" jdbcType="VARCHAR"/>
        <result column="op_pid" property="op_pid" jdbcType="VARCHAR"/>
        <result column="op_user_id" property="op_user_id" jdbcType="INTEGER"/>
    </resultMap>


    <!-- id is same to interface'methmod -->
    <select id="listOutputRecord" resultMap="outputRecordMap" parameterType="java.util.Map">
        select ord.*,goods.uuid,cases.ajbh caseNo,cases.ajmc caseName,
        t.code_value involvedType ,u.real_name getPoliceName,
        d.`name` getUnit,re.real_name logName,goods.`name` goodsName,
        goods.detail_count allCount,(goods.detail_count-ord.count) leftCount,cd.code_value as outputType
        from sa_output_record ord
        left join ba_case cases on ord.case_id=cases.id
        left join xt_code t on t.type='INVOLVED_TYPE' and ord.involved_type_id=t.code_key
        left join xt_code cd on cd.type='INV_OUTPUT_TYPE' and ord.output_type_id=cd.code_key
        left join sa_involved goods on ord.involved_id=goods.id
        left join xt_user u on ord.police_id=u.id
        left join xt_organization d on ord.organization_id=d.id
        left join xt_user re on re.id=ord.register_user_id
        <where>
            <if test="dataAuth!=null and dataAuth!=''">
                and ${dataAuth}
            </if>
            <if test="caseNo !=null and caseNo !=''">
                and cases.ajbh like '%${caseNo}%'
            </if>
            <if test="caseName!=null and caseName !=''">
                and cases.ajmc like '%${caseName}%'
            </if>
            <if test="name!=null and name!=''">
                and goods.name like '%${name}%'
            </if>
            <if test="barcode !=null and barcode!=''">
                and goods.barcode=#{barcode}
            </if>
            <if test="outputType!=null and outputType!=''">
                and ord.output_type_id=#{outputType}
            </if>
            <if test="dataAuth!=null and dataAuth!=''">
                and ${dataAuth}
            </if>
        </where>
        order by ord.output_time desc limit ${pageStart},${rows}
    </select>
    <select id="countOutputRecord" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1)
        from sa_output_record ord
        left join ba_case cases on ord.case_id=cases.id
        left join xt_code t on t.type='INVOLVED_TYPE' and ord.involved_type_id=t.code_key
        left join xt_code cd on cd.type='INV_OUTPUT_TYPE' and ord.output_type_id=cd.code_key
        left join sa_involved goods on ord.involved_id=goods.id
        left join xt_user u on ord.police_id=u.id
        left join xt_organization d on ord.organization_id=d.id
        left join xt_user re on re.id=ord.register_user_id
        <where>
            <if test="dataAuth!=null and dataAuth!=''">
                and ${dataAuth}
            </if>
            <if test="caseNo !=null and caseNo !=''">
                and cases.ajbh like '%${caseNo}%'
            </if>
            <if test="caseName!=null and caseName !=''">
                and cases.ajmc like '%${caseName}%'
            </if>
            <if test="name!=null and name!=''">
                and goods.name like '%${name}%'
            </if>
            <if test="barcode !=null and barcode!=''">
                and goods.barcode=#{barcode}
            </if>
            <if test="outputType!=null and outputType!=''">
                and ord.output_type_id=#{outputType}
            </if>
            <if test="dataAuth!=null and dataAuth!=''">
                and ${dataAuth}
            </if>
        </where>
        order by ord.output_time desc
    </select>
    <insert id="insertOutputRecord" parameterType="com.zhixin.zhfz.sacw.entity.OutputRecordEntity" keyProperty="id"
            useGeneratedKeys="true">
        insert into sa_output_record(involved_id, register_user_id,
        output_time, shelf_id, location_id,
        warehouse_id, case_id, involved_type_id,
        output_type_id, organization_id,
        police_id, description, count,created_time,updated_time,handler_person,telephone,op_pid,op_user_id)
        values (#{involvedId,jdbcType=INTEGER}, #{registerUserId,jdbcType=INTEGER},
        now(), #{shelfId,jdbcType=INTEGER}, #{locationId,jdbcType=INTEGER},
        #{warehouseId,jdbcType=INTEGER}, #{lawCaseId,jdbcType=INTEGER}, #{involvedTypeId,jdbcType=INTEGER},
        #{outputTypeId,jdbcType=INTEGER}, #{organizationId,jdbcType=INTEGER},
        #{policeId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{count,jdbcType=VARCHAR},now(), now(),
        #{handlerPerson,jdbcType=VARCHAR},
        #{telephone,jdbcType=VARCHAR},#{op_pid,jdbcType=VARCHAR},#{op_user_id,jdbcType=INTEGER})
    </insert>
    <select id="getOutputRecordById" resultMap="outputRecordMap" parameterType="Integer">
        select * from sa_output_record where id=#{id}
    </select>

    <update id="updateOutputRecordByInvolvedId" parameterType="java.util.Map">
        update sa_output_record
        set count=#{count},
        updated_time=now()
        where involved_id= #{involvedId}
    </update>
    <select id="getOutputRecordByInvolvedId" resultMap="outputRecordMap" parameterType="Integer">
        select * from sa_output_record where involved_id= #{involvedId}
    </select>
    <update id="updateRecord" parameterType="com.zhixin.zhfz.sacw.entity.OutputRecordEntity">
        UPDATE sa_output_record SET register_user_id= #{registerUserId},
        output_time=now(),
        shelf_id=#{shelfId},
        location_id=#{locationId},
        warehouse_id=#{warehouseId},
        case_id=#{lawCaseId},
        involved_type_id=#{involvedTypeId},
        output_type_id=#{outputTypeId},
        organization_id=#{organizationId},
        police_id=#{policeId},
        description=#{description},
        count=#{count},
        updated_time=now(),
        handler_person=#{handlerPerson},
        telephone=#{telephone}
        where involved_id=#{involvedId}
    </update>

</mapper>