@charset "utf-8";/* CSS Document */
/*********CSS reset ***********/
*{margin:0;padding:0;font-family:"微软雅黑","黑体","宋体"; font-size:12px;}
ul,li,ol{list-style:none; }
img,a img{border:none;margin:0;padding:0;}
a{ text-decoration:none;color:black; font-weight:bold;}
.clear{ clear:both;}

/*******候问室展示 开始***********/
.waiting{ margin-left:20px; width:98%; margin-top:0px;}
.wait_a{ width:100%; padding-top:8px;}
.wtop{ height:19px;width:95%;background:url(image/qufen.png) left repeat-x; }
.wtop span{line-height:18px; color:#000068; margin-left:20px;}
.first_ww,.two_ww,.three_ww,.four_ww{width:100px;height:60px;float:left; margin-top:10px; margin-right:10px;}
.first_ww{ background:#1a88ba;}

.ww_ct1{ width:40px;height:30px;float:left;}
.ww_ct1 img{ width:25px; height:25px; padding:8px;}
.ww_ct2{width:60px; float:right; height:35px; text-align:center; margin: auto 0;  font-family:Arial, Helvetica, sans-serif; padding-top:2px; padding-bottom:3px;}
.ww_ct2 span{color:black;font-size:16px;font-family:Georgia, "Times New Roman", Times, serif;}
.ww_ct2 p{color:black;padding-top:9px;padding-right:23px;font-size:16px;font-weight: bold;}
.ww_ct3{ width:auto; height:20px;background:#000; filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; opacity: 0.3; line-height:20px;}
.ww_ct3 p{float:left; color:#fff; text-align:center; padding-left:4px;line-height:20px;font-size:13px;font-weight: bold;}
.ww_ct3 a{float:right; margin-right:4px; padding-top:5px;}

.two_ww{ background:#f2ae43;}
.three_ww{ background:#28b779;}
.four_ww{ background:#28a9e3;}


/*******color trans***********/
.c_1_ww{ background:#1a88ba;}
.c_1_ww:hover{ background:#1e9ad2;}
.c_2_ww{ background:#dea346;}
.c_2_ww:hover{ background:#f2ae43;}
.c_0_ww{ background:#28b779;}
.c_0_ww:hover{ background:#39d390;}
.c_3_ww{background:#ff7f50;}
.c_4_ww{background:#ff0000;}

.c_0_ww,.c_1_ww,.c_2_ww,.c_3_ww,.c_4_ww{width:100px;height:60px;float:left; margin-top:10px; margin-right:10px;}
.div_border{border:3px solid #f22509;}

.bc_on1{width:180px;height:50px;border:none;color:#fff;cursor:pointer;padding-left:60px; background:url(image/kxy.png) no-repeat 0 -200px;font-size:16px;}
.bc_on2{width:180px;height:50px;border:none;color:#fff;cursor:pointer;padding-left:60px; background:url(image/kxy.png) no-repeat;font-size:16px;}

/*******候问室展示 end***********/
/*main 开始*/
.main{width:50%; float:left;}
.content_top{padding:10px 0; margin: auto 0; border-bottom: 1px solid #CCC;}
.content_top a{display:inline-block;width:45%;height:90px;text-align:center;padding-top:0px;line-height:39px;background:url(image/next.png) no-repeat right center;}
.content_top a.last_a{background:none;}

.main_form1{margin:0 auto;padding-top:0px; padding-bottom:5px;overflow:hidden;border-spacing:5px;}
.btn{width:70%;margin:0 auto;padding-bottom:20px;text-align:center;}
.btn input{ cursor:pointer; font-size:14px; font-weight:500;}
.btn_hover{color:#fff;}

.btn input.bc_out{width:88px;height:32px;border:none;background:url(image/botton_b.png);}
.btn input.bc_on{width:88px;height:32px;border:none;background:url(image/botton_a.png);}
.btn input.xx_change{width:88px;height:32px;border:none;background:url(image/botton_b.png);}
.hoverd{color:#628cd6}
.clicked{color:#428e4d}
/*--------------css start-------------------*/
.content_top a img.icon-hover,.content_top a img.icon-active{ display:none}

.content_top a.active img.icon-img,.content_top a.active img.icon-hover{ display:none}
.content_top a.active img.icon-active{ display:inline}

.content_top a.hover img.icon-img,.content_top a.hover img.icon-active{ display:none}
.content_top a.hover img.icon-hover{ display:inline}
/*--------------------waiting start------------------------*/

.content_top a.moren img.icon-img,.content_top a.moren img.active{display:none}
.content_top a.moren img.icon-hover{display:inline}

/*--------------------22222222-----------------------*/
.content_down{padding:30px 0; margin: auto 0; border-bottom: 1px solid #CCC;}
.content_down a{display:inline-block;width:19%;height:106px;text-align:center;padding-top:15px;line-height:39px;background:url(image/next.png) no-repeat right center;}
.content_down a.last_a{background:none;}

.main_form1{margin:0 auto;padding-top:20px; padding-bottom:20px;overflow:hidden;border-spacing:10px;}



.xx_change1.btn{width:70%;margin:0 auto;padding-bottom:50px;text-align:center;}
.xx_change1.btn input{ cursor:pointer; font-size:14px; font-weight:500;}
.xx_change1.btn_hover{color:#fff;}

.xx_change1.btn input.bc_out{width:88px;height:32px;border:none;background:url(images/botton_b.png);}
.xx_change1.btn input.bc_on{width:88px;height:32px;border:none;background:url(images/botton_a.png);}
xx_change1.btn input.xx_change1{width:88px;height:32px;border:none;background:url(images/botton_b.png);}
.hoverd{color:#628cd6}
.clicked{color:#428e4d}

/*--------------css start-------------------*/
.content_down a img.icon-hover,.content_down a img.icon-active{ display:none}

.content_down a.active img.icon-img,.content_down a.active img.icon-hover{ display:none}
.content_down a.active img.icon-active{ display:inline}

.content_down a.hover img.icon-img,.content_down a.hover img.icon-active{ display:none}
.content_down a.hover img.icon-hover{ display:inline}
/*--------------------waiting start------------------------*/

.content_down a.moren img.icon-img,.content_down a.moren img.active{display:none}
.content_down a.moren img.icon-hover{display:inline}
#tj_btn{text-align:center; }
#tj_btn input.bc_on9{width:180px;height:50px;border:none;color:#fff;cursor:pointer;padding-left:60px; background:url(image/kxy.png) no-repeat 0 -200px;font-size:16px;}