<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.sacw.dao.shelf.IShelfMapper">

    <resultMap id="shelfResultMap" type="ShelfEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="locationId" column="location_id" jdbcType="INTEGER"/>
        <result property="locationName" column="locationName" jdbcType="VARCHAR"/>
        <result property="warehouseId" column="warehouseId" jdbcType="INTEGER"/>
        <result property="no" column="no" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="warehouseName" column="warehouseName" jdbcType="VARCHAR"/>
        <result property="op_pid" column="op_pid" jdbcType="VARCHAR"/>
        <result property="op_user_id" column="op_user_id" jdbcType="INTEGER"/>
    </resultMap>

    <!-- id is same to interface'methmod 查找所有货架-->
    <select id="listAllShelf" resultMap="shelfResultMap" parameterType="java.util.Map">
        select s.*,l.`name` as locationName,w.id as warehouseId ,w.`name` as warehouseName from sa_shelf s
        left join sa_location l on s.location_id=l.id
        left join sa_warehouse w on l.warehouse_id=w.id
        LEFT JOIN xt_organization o on w.org_id = o.id
        <where>
            <if test="no!=null and no !=''">
                and s.no like '%${no}%'
            </if>
            <if test="warehouseId !=null and warehouseId !='' ">
                and w.id=#{warehouseId}
            </if>
            <if test="dataAuth!=null and dataAuth!=''">
                and ${dataAuth}
            </if>
        </where>
        order by s.created_time desc limit ${pageStart},${rows}
    </select>

    <select id="listAllShelfByLocationId" resultMap="shelfResultMap" parameterType="java.util.Map">
        select s.*,l.`name` as locationName,w.id as warehouseId from sa_shelf s
        left join sa_location l on s.location_id=l.id
        left join sa_warehouse w on l.warehouse_id=w.id

        where location_id=#{locationId}
        <where>
            <if test="no!=null and no !=''">
                and s.no like '%${no}%'
            </if>
            <if test="warehouseId !=null and warehouseId !='' ">
                and w.id=#{warehouseId}
            </if>
        </where>
        order by s.created_time desc
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(s.id) from sa_shelf s
        left join sa_location l on s.location_id=l.id
        left join sa_warehouse w on l.warehouse_id=w.id
        LEFT JOIN xt_organization o on w.org_id = o.id
        <where>
            <if test="no!=null and no !=''">
                and s.no like '%${no}%'
            </if>
            <if test="warehouseId !=null and warehouseId !='' ">
                and w.id=#{warehouseId}
            </if>
            <if test="dataAuth!=null and dataAuth!=''">
                and ${dataAuth}
            </if>
        </where>
    </select>

    <insert id="insertShelf" parameterType="ShelfEntity">
        insert into sa_shelf (location_id,no,description,op_pid,op_user_id,created_time)
        values (#{locationId},#{no},#{description},#{op_pid},#{op_user_id},now())
    </insert>

    <delete id="deleteShelf" parameterType="int">
        delete from sa_shelf where id=#{id}
    </delete>

    <update id="updateShelf" parameterType="ShelfEntity">
        update sa_shelf set location_id=#{locationId},no = #{no},
        description = #{description},updated_time=#{updatedTime} where id=#{id}
    </update>

</mapper>