<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zhixin.zhfz.bacsapp.dao.casequiry.ICasequiryMapper">

    <resultMap id="caseResultMap" type="com.zhixin.zhfz.bacsapp.entity.CaseEntity" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="ajmc" property="ajmc" jdbcType="VARCHAR" />
        <result column="ajbh" property="ajbh" jdbcType="VARCHAR" />
        <result column="afsj" property="afsj" jdbcType="TIMESTAMP" />
        <result column="afdd" property="afdd" jdbcType="VARCHAR" />
        <result column="ajlx" property="ajlx" jdbcType="INTEGER" />
        <result column="ab" property="ab" jdbcType="INTEGER" />
        <result column="zbmj_id" property="zbmjId" jdbcType="INTEGER" />
        <result column="xbmj_id" property="xbmjId" jdbcType="INTEGER" />
        <result column="zbdw_id" property="zbdwId" jdbcType="INTEGER" />
        <result column="jqh" property="jqh" jdbcType="VARCHAR" />
        <result column="zyaq" property="zyaq" jdbcType="VARCHAR" />
        <result column="ajly" property="ajly" jdbcType="INTEGER" />
        <result column="cjr" property="cjr" jdbcType="INTEGER" />
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="uuid" property="uuid" jdbcType="VARCHAR" />
        <result column="afdd_code" property="afddCode" jdbcType="VARCHAR" />
        <!-- 关联-->
        <result column="zbdwName" property="zbdwName" jdbcType="VARCHAR" />
        <result column="caseNature" property="caseNature" jdbcType="VARCHAR" />
        <result column="zbmjName" property="zbmjName" jdbcType="VARCHAR" />
        <result column="xbmjName" property="xbmjName" jdbcType="VARCHAR" />
        <result column="areaId" property="areaId" jdbcType="INTEGER" />
        <result column="zbmjCertificateNo" property="zbmjCertificateNo" jdbcType="VARCHAR" />
        <result column="xbmjCertificateNo" property="xbmjCertificateNo" jdbcType="VARCHAR" />
        <result column="warehouse_id" property="warehouseId" jdbcType="VARCHAR" />
        <result column="areaName" property="areaName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectCase" parameterType="java.util.Map" resultMap="caseResultMap">
        SELECT
        bcase.*, bcase.id caseId,u1.real_name AS zbmjName,
        xbmln.xbmjName,
        org. NAME AS zbdwName
        FROM
        ba_case bcase
        LEFT JOIN xt_user u1 ON bcase.zbmj_id = u1.id
        LEFT JOIN (
        SELECT
        GROUP_CONCAT(bcp.xbmj_id) xbmj_id,
        GROUP_CONCAT(bxu.real_name) xbmjName,
        GROUP_CONCAT(bxu.certificate_no) xbmjCertificateNo,
        bcp.case_id
        FROM
        ba_case_police bcp
        LEFT JOIN xt_user bxu ON bxu.id = bcp.xbmj_id
        WHERE
        1 = 1
        GROUP BY
        bcp.case_id
        ) xbmln ON xbmln.case_id = bcase.id

        LEFT JOIN xt_organization org ON org.id = bcase.zbdw_id
        WHERE
        1 = 1
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
        <if test="ajmc != null and ajmc != ''">
            and ajmc like '%${ajmc}%'
        </if>
    </select>

    <select id="selectCaseCount" parameterType="java.util.Map" resultType="java.lang.Integer">

        SELECT
        count(1)
        FROM
        ba_case bcase
        LEFT JOIN xt_user u1 ON bcase.zbmj_id = u1.id
        LEFT JOIN (
        SELECT
        GROUP_CONCAT(bcp.xbmj_id) xbmj_id,
        GROUP_CONCAT(bxu.real_name) xbmjName,
        GROUP_CONCAT(bxu.certificate_no) xbmjCertificateNo,
        bcp.case_id
        FROM
        ba_case_police bcp
        LEFT JOIN xt_user bxu ON bxu.id = bcp.xbmj_id
        WHERE
        1 = 1
        GROUP BY
        bcp.case_id
        ) xbmln ON xbmln.case_id = bcase.id

        LEFT JOIN xt_organization org ON org.id = bcase.zbdw_id

        where 1=1
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
        <if test="ajmc != null and ajmc != ''">
            and ajmc like '%${ajmc}%'
        </if>
    </select>
    <select id="getCaseById" resultMap="caseResultMap" parameterType="java.util.Map">
        SELECT
            bcase.*, u1.real_name AS zbmjName,
            xbmln.xbmjName,
            org. NAME AS zbdwName,
            u1.certificate_no zbmjCertificateNo,
            xbmln.xbmjCertificateNo
        FROM
	        ba_case bcase
        LEFT JOIN xt_user u1 ON bcase.zbmj_id = u1.id

        LEFT JOIN (
          SELECT
            GROUP_CONCAT(bcp.xbmj_id) xbmj_id,
            GROUP_CONCAT(bxu.real_name) xbmjName,
            GROUP_CONCAT(bxu.certificate_no) xbmjCertificateNo,
            bcp.case_id
            FROM
            ba_case_police bcp
            LEFT JOIN xt_user bxu ON bxu.id = bcp.xbmj_id
            WHERE
            1 = 1
            GROUP BY
            bcp.case_id
        ) xbmln ON xbmln.case_id = bcase.id

        LEFT JOIN xt_organization org ON org.id = bcase.zbdw_id
        where
        1=1
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
        and bcase.id = #{caseId}
    </select>
</mapper>