<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.zhag.dao.gjxx.IAgGjxxMapper">

	<resultMap id="gjxxResultMap" type="com.zhixin.zhfz.zhag.entity.GjxxEntity">
		<id property="id" column="id"/>
		<result property="gjsj" column="gjsj"/>
		<result property="wtlx" column="wtlx"/>
		<result property="wtlxdm" column="wtlxdm"/>
		<result property="gjly" column="gjly"/>
		<result property="ajbh" column="ajbh"/>
		<result property="jqbh" column="jqbh"/>
		<result property="gjzt" column="gjzt"/>
		<result property="cjsj" column="cjsj"/>
		<result property="xgsj" column="xgsj"/>
	</resultMap>

	<select id="selectGjxx" resultType="com.zhixin.zhfz.zhag.entity.GjxxEntity" parameterType="java.util.Map">
		SELECT * FROM ag_gjxx
		where 1=1
		<if test="gjly != '' and gjly != null">
			and gjly=#{gjly}
		</if>
		<if test="wtlx != '' and wtlx != null">
			and wtlx=#{wtlx}
		</if>
		<if test="ajbh != '' and ajbh != null">
			and ajbh=#{ajbh}
		</if>
		<if test="jqbh != '' and jqbh != null">
			and jqbh=#{jqbh}
		</if>
		<if test="gjzt != '' and gjzt != null">
			and gjzt=#{gjzt}
		</if>
		<if test="startTime != null and startTime != ''">
			and gjsj &gt; #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and gjsj &lt; #{endTime}
		</if>
		order by xgsj desc
	</select>
	<select id="countGjxx" resultType="int" parameterType="java.util.Map">
		SELECT count(1) FROM ag_gjxx
		where 1=1
		<if test="gjly != '' and gjly != null">
			and gjly=#{gjly}
		</if>
		<if test="wtlx != '' and wtlx != null">
			and wtlx=#{wtlx}
		</if>
		<if test="ajbh != '' and ajbh != null">
			and ajbh=#{ajbh}
		</if>
		<if test="jqbh != '' and jqbh != null">
			and jqbh=#{jqbh}
		</if>
		<if test="gjzt != '' and gjzt != null">
			and gjzt=#{gjzt}
		</if>
		<if test="startTime != null and startTime != ''">
			and gjsj &gt; #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and gjsj &lt; #{endTime}
		</if>
	</select>

	<select id="jqGjList" resultType="com.zhixin.zhfz.zhag.entity.GjxxEntity" parameterType="java.util.Map">
		SELECT * FROM ag_gjxx
		where gjly = 0
		<if test="gjly != '' and gjly != null">
			and gjly=#{gjly}
		</if>
		<if test="wtlx != '' and wtlx != null">
			and wtlx=#{wtlx}
		</if>
		<if test="ajbh != '' and ajbh != null">
			and ajbh=#{ajbh}
		</if>
		<if test="jqbh != '' and jqbh != null">
			and jqbh=#{jqbh}
		</if>
		<if test="gjzt != '' and gjzt != null">
			and gjzt=#{gjzt}
		</if>
		<if test="startTime != null and startTime != ''">
			and gjsj &gt; #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and gjsj &lt; #{endTime}
		</if>
		order by xgsj desc
		limit ${pageStart},${rows}
	</select>
	<select id="countJqGj" resultType="int" parameterType="java.util.Map">
		SELECT count(1) FROM ag_gjxx
		where gjly = 0
		<if test="gjly != '' and gjly != null">
			and gjly=#{gjly}
		</if>
		<if test="wtlx != '' and wtlx != null">
			and wtlx=#{wtlx}
		</if>
		<if test="ajbh != '' and ajbh != null">
			and ajbh=#{ajbh}
		</if>
		<if test="jqbh != '' and jqbh != null">
			and jqbh=#{jqbh}
		</if>
		<if test="gjzt != '' and gjzt != null">
			and gjzt=#{gjzt}
		</if>
		<if test="startTime != null and startTime != ''">
			and gjsj &gt; #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and gjsj &lt; #{endTime}
		</if>
	</select>
</mapper>