<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.zhixin.zhfz.jzgl.dao.gmxxPz.IGmxxPzMapper">
	<resultMap id="pzMapper" type="com.zhixin.zhfz.jzgl.entity.GmxxPzEntity">
		<id property="id" column="id" />
		<result property="lx" column="lx" />
		<result property="xsbh" column="xsxh" />
		<result property="mlbh" column="mlbh" />
	</resultMap>

	<select id="queryAllPz" resultMap="pzMapper">
		SELECT * FROM jz_gmxx_pz
	</select>
</mapper>


