<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixin.zhfz.jzgl.dao.JzgLie.IJzgLieMapper">
	<resultMap id="JzgLieMapper" type="com.zhixin.zhfz.jzgl.entity.JzgLieEntity">
		<id property="id" column="id" />
		<result property="jzgId" column="jzg_id" />
		<result property="lx" column="lx" />
		<result property="wz" column="wz" />
		<result property="orgId" column="org_id" />
		<result property="qy" column="qy" />
		<result property="mc" column="mc" />
		<result property="cjsj" column="cjsj" />
	</resultMap>

    <select id="queryLieLx" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT lx FROM jz_jzg_lie  where id= #{wz}
	</select>
	
	<!-- queryAllJzgLie -->
	<select id="queryAllGmLie" resultMap="JzgLieMapper" parameterType="Long">
		SELECT * FROM jz_jzg_lie   where jzg_id= #{id} 
	</select>
	
	<!-- queryAllJzgLie -->
	<select id="queryJzgLie" resultMap="JzgLieMapper" parameterType="java.util.Map">
		SELECT lie.*,jzg.mc
		FROM jz_jzg_lie lie, jz_jzg jzg   
		where lie.jzg_id= #{id} 
		and jzg.id =#{id} 
		order by wz 
	</select>
	
	<!-- insertJzgLie -->
	<insert id="insertJzgLie" parameterType="com.zhixin.zhfz.jzgl.entity.JzgLieEntity" keyProperty="id"
		useGeneratedKeys="true">
		INSERT INTO jz_jzg_lie (
		jzg_id,
		lx,
		wz,
		org_id,
		qy,
		cjsj
		)
		VALUES(
		#{jzgId},
		#{lx},
		#{wz},
		(select org_id from jz_jzg where id =#{jzgId}),
		1,
		now()
		)
	</insert>
	
	<update id="updateJzgLie" parameterType="com.zhixin.zhfz.jzgl.entity.JzgLieEntity">
		UPDATE jz_jzg_lie SET
		jzg_id=#{jzgId},
		lx=#{lx},
		wz=#{wz},
		org_id=(select org_id from jz_jzg where id =#{jzgId}),
		qy=#{qy}
		WHERE
		id=#{id}
	</update>
	
		<!-- insertAllJzgLie -->
	<insert id="insertAllJzgLie" parameterType="com.zhixin.zhfz.jzgl.entity.JzgLieEntity" keyProperty="id"
		useGeneratedKeys="true">
		INSERT INTO jz_jzg_lie (
		jzg_id,
		lx,
		wz,
		org_id,
		qy,
		cjsj
		)
		VALUES(
		#{jzgId},
		#{lx},
		#{wz},
		#{orgId},
		1,
		now()
		)
	</insert>
	  
</mapper>


