<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixin.zhfz.jzgl.dao.jzgGmxx.IJzgGmxxMapper">
	<resultMap id="JzgGmxxMapper" type="com.zhixin.zhfz.jzgl.entity.JzgGmxxEntity">
		<id property="id" column="id" />
		<result property="jzgId" column="jzg_id" />
		<result property="jzgLieId" column="jzg_lie_id" />
		<result property="lx" column="lx" />
		<result property="mlbh" column="mlbh" />
		<result property="xsbh" column="xsbh" />
		<result property="cjsj" column="cjsj" />
		<result property="mc" column="mc" />
		<result property="wz" column="wz" />
		<result property="qy" column="qy" />
	</resultMap>
 
   <select id="getGmByUserId" parameterType="java.lang.Long" resultMap="JzgGmxxMapper">
     SELECT
            gm.*,
			(SELECT j.mc FROM jz_jzg j WHERE j.id = gm.jzg_id) mc,
			(SELECT jl.wz FROM jz_jzg_lie jl WHERE jl.id = gm.jzg_lie_id) wz
        FROM
            jz_jzg_gmxx gm,
            xt_user yh,
            jz_jzg_gx gmyh
        WHERE
            gm.id = gmyh.jzg_gmxx_id
        AND yh.id = gmyh.user_id
        AND yh.id =#{value}
    </select>
    
	<select id="listJzgGmxxData" resultType="java.util.HashMap"
		parameterType="java.lang.String">
		SELECT jg.id, jg.xsbh,  jg.lx,
			(SELECT u.real_name FROM xt_user u 
			     WHERE u.id = (SELECT gyg.user_id FROM jz_jzg_gx gyg WHERE
					     gyg.jzg_gmxx_id = jg.id AND gyg.gmxs = 1)) jgyyz,
			(SELECT COUNT(id) FROM jz_alarm X WHERE x.jzxx_id IN 
			       (SELECT j.id FROM jz_jzxx j WHERE j.gmxx_id = jg.id) AND x.xxly=0) yjsl,
			(SELECT COUNT(id) FROM jz_jzxx j WHERE j.gmxx_id = jg.id AND j.jzzt = 1) jzsl,
			(SELECT jl.lx FROM jz_jzg_lie jl WHERE jl.id = jg.jzg_lie_id) jzgllx
			FROM jz_jzg_gmxx jg
		where jg.jzg_id = #{jzgId}
	</select>
    
    
    <select id="listJzgGmxx" resultType="java.util.HashMap"
		parameterType="java.lang.String">
		SELECT
		  jg.id,
		  jg.xsbh,
		  jl.wz,
		  jl.lx
		FROM
		  jz_jzg_gmxx jg,
		  jz_jzg_lie jl
		WHERE jg.jzg_lie_id = jl.id
		  AND jg.jzg_id =#{jzgId}
		order by wz,xsbh asc
	</select>
	
	
	
	<!-- queryAllJzgGmxx -->
	<select id="queryAllJzgGmxx" resultMap="JzgGmxxMapper"
		parameterType="java.util.Map">
		select
		j.*,(select jz.mc from jz_jzg jz where jz.id = j.jzg_id) mc,(select
		jl.wz from jz_jzg_lie jl where jl.id = j.jzg_lie_id) wz
		from jz_jzg_gmxx j
		 where 1=1
			<if test="mc != null and mc != ''">
				and j.jzg_id in(
				SELECT id from jz_jzg where mc like '%${mc}%')
			</if>
			
			<if test="orgId != null and orgId != ''">
				and j.jzg_id in(
				SELECT id from jz_jzg where org_id = #{orgId})
			</if>
			
			<if test="dataAuth!=null and dataAuth!=''">
				and j.jzg_id
				in(
				select id FROM jz_jzg where ${dataAuth})
			</if>
	</select>

	<!-- countAllJzgGmxx -->
	<select id="countAllJzgGmxx" resultType="int" parameterType="java.util.Map">
		select
	count(*)
		from jz_jzg_gmxx j
		where 1=1
			 <if test="orgId != null and orgId != ''">
				and j.jzg_id in(
				SELECT id from jz_jzg where org_id = #{orgId})
			</if>
			<if test="mc != null and mc != ''">
				and j.jzg_id in(
				SELECT id from jz_jzg where mc like '%${mc}%')
			</if>
			<if test="dataAuth!=null and dataAuth!=''">
				and j.jzg_id
				in(
				select id FROM jz_jzg where ${dataAuth})
			</if>
	</select>
	
	<insert id="insertGmxx" parameterType="com.zhixin.zhfz.jzgl.entity.JzgGmxxEntity" keyProperty="id"
		useGeneratedKeys="true">
		INSERT INTO jz_jzg_gmxx (
		jzg_id,
		jzg_lie_id,
		mlbh,
		xsbh,
		lx,
		qy,
		mllx,
		cjsj
		)
		VALUES(
		#{mc},
		#{wz},
		#{mlbh},
		#{xsbh},
		#{lx},
		1,
		#{mllx},
		now()
		)
	</insert>
	
	<update id="updateGmxx" parameterType="com.zhixin.zhfz.jzgl.entity.JzgGmxxEntity">
		UPDATE jz_jzg_gmxx SET
		jzg_id=#{jzgId},
		jzg_lie_id=#{jzgLieId},
		lx=#{lx},
		mlbh=#{mlbh},
		xsbh=#{xsbh},
		mllx=#{mllx},
		qy=#{qy}
		WHERE
		id=#{id}
	</update>
</mapper>


