<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.zhfz.sacw.dao.unowner.IUnOwnerMapper">

    <resultMap id="unownerMap" type="com.zhixin.zhfz.sacw.entity.UnOwnerEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="lawCaseId" column="case_id" jdbcType="INTEGER"/>
        <result property="caseNo" column="case_no" jdbcType="VARCHAR"/>
        <result property="caseName" column="case_name" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="detailCount" column="detail_count" jdbcType="VARCHAR"/>
        <result property="unit" column="unit" jdbcType="VARCHAR"/>
        <result property="weight" column="weight"/>
        <result property="worth" column="worth"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="involvedTypeId" column="involved_type_id" jdbcType="INTEGER"/>
        <result property="involvedTypeName" column="involvedTypeName" jdbcType="VARCHAR"/>
        <result property="inputTypeId" column="input_type_id" jdbcType="INTEGER"/>
        <result property="inputTypeName" column="inputTypeName" jdbcType="VARCHAR"/>
        <result property="barcode" column="barcode" jdbcType="VARCHAR"/>
        <result property="involvedOwner" column="involved_owner" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="expiredTime" column="expired_time" jdbcType="TIMESTAMP"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="outputCount" column="outputCount" jdbcType="VARCHAR"/>
        <result property="registerUserId" column="register_user_id" jdbcType="VARCHAR"/>
        <result property="registerUserName" column="registerUserName" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>

        <result property="operationTime" column="operationTime" jdbcType="TIMESTAMP"/>
        <result property="operation" column="operation" jdbcType="VARCHAR"/>

        <result property="url" column="url" jdbcType="VARCHAR"/><!--图片URL-->
        <result property="areaId" column="warehouse_id" jdbcType="INTEGER"/>
        <result property="areaName" column="areaName" jdbcType="VARCHAR"/>
        <result property="op_pid" column="op_pid" jdbcType="VARCHAR"/>


    </resultMap>

    <select id="list" resultMap="unownerMap" parameterType="java.util.Map">
        select l.case_no,l.case_name,i.*,cd.code_value as involvedTypeName,
        cp.code_value as inputTypeName,a.name as areaName,
        ur.real_name as registerUserName from sa_involved i
        left join sa_law_case l on i.case_id=l.id
        left join xt_user ur on i.register_user_id=ur.id
        left join xt_code cd on cd.code_key=i.involved_type_id and cd.type='INVOLVED_TYPE'
        left join xt_code cp on cp.code_key=i.input_type_id and cp.type='INV_INPUT_TYPE'
        left join sa_warehouse a on a.id=i.warehouse_id
        left join xt_organization t on a.org_id=t.id
        where i.type=2
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
        <if test="caseNo!=null and caseNo !=''">
            and l.case_no like '%${caseNo}%'
        </if>
        <if test="caseName !=null and caseName !=''">
            and l.case_name like '%${caseName}%'
        </if>
        <if test="name!=null and name!=''">
            and i.name like '%${name}%'
        </if>
        <if test="barcode!=null and barcode!=''">
            and i.barcode= #{barcode}
        </if>
        order by i.created_time desc limit ${pageStart},${rows}
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from sa_involved i
        left join sa_law_case l on i.case_id=l.id
        left join xt_user ur on i.register_user_id=ur.id
        left join xt_code cd on cd.code_key=i.involved_type_id and cd.type='INVOLVED_TYPE'
        left join xt_code cp on cp.code_key=i.input_type_id and cp.type='INV_INPUT_TYPE'
        left join sa_warehouse a on a.id=i.warehouse_id
        left join xt_organization t on a.org_id=t.id
        where i.type=2
        <if test="dataAuth!=null and dataAuth!=''">
            and ${dataAuth}
        </if>
        <if test="caseNo!=null and caseNo !=''">
            and l.case_no like '%${caseNo}%'
        </if>
        <if test="caseName !=null and caseName !=''">
            and l.case_name like '%${caseName}%'
        </if>
        <if test="name!=null and name!=''">
            and i.name like '%${name}%'
        </if>
        <if test="barcode!=null and barcode!=''">
            and i.barcode= #{barcode}
        </if>
    </select>

    <insert id="insert" parameterType="com.zhixin.zhfz.sacw.entity.UnOwnerEntity" keyProperty="id"
            useGeneratedKeys="true">
        insert into sa_involved (name,detail_count,unit,weight,
        worth,description,involved_type_id,input_type_id,
        status,expired_time,type,register_user_id,barcode,warehouse_id,created_time,uuid,op_pid)
        values (#{name},#{detailCount},#{unit},#{weight},#{worth},
        #{description},#{involvedTypeId},#{inputTypeId},1,
        #{expiredTime},2,#{registerUserId},#{barcode},#{areaId},now(),#{uuid},#{op_pid})
    </insert>


    <update id="update" parameterType="java.util.Map">
        update sa_involved
        <set>
            <if test="name != null and name!='' ">
                name=#{name},
            </if>
            <if test="detailCount != null and detailCount!='' ">
                detail_count=#{detailCount},
            </if>
            <if test="unit != null and unit!='' ">
                unit=#{unit},
            </if>
            <if test="weight != null and weight!='' ">
                weight=#{weight},
            </if>
            <if test="worth != null and worth!='' ">
                worth=#{worth},
            </if>
            <if test="description != null and description!='' ">
                description=#{description},
            </if>
            <if test="involvedTypeId != null and involvedTypeId!='' ">
                involved_type_id=#{involvedTypeId},
            </if>
            <if test="inputTypeId != null and inputTypeId!='' ">
                input_type_id=#{inputTypeId},
            </if>

            <if test="status != null and status!='' ">
                status=#{status},
            </if>
            <if test="expiredTime != null and expiredTime!='' ">
                expired_time=#{expiredTime},
            </if>
            <if test="type != null and type!='' ">
                type=#{type},
            </if>
            <if test="areaId != null and areaId!='' ">
                warehouse_id=#{areaId},
            </if>
            updated_time=now()
        </set>
        where id=#{id}
    </update>

    <update id="change" parameterType="java.util.Map">
        update sa_involved set case_id=#{lawCaseId},involved_owner=#{involvedOwner},type='1' where id=#{id}
    </update>


    <delete id="delete" parameterType="int">
        delete from sa_involved where id=#{id}
    </delete>

    <!--查询无主物品出入库各操作记录-->
    <select id="listRecordByInvolvedId" resultMap="unownerMap" parameterType="java.util.Map">
        select * from
        (
        select concat('入库->',cd.code_value) as operation,ir.input_time as operationTime from sa_input_record ir
        left join xt_code cd on ir.input_type_id=cd.code_key and cd.type='INV_INPUT_TYPE'
        where ir.involved_id=#{id}
        union all
        select concat('出库->',cf.code_value) as operation,vr.output_time as operationTime from sa_output_record vr
        left join xt_code cf on vr.output_type_id=cf.code_key and cf.type='INV_OUTPUT_TYPE'
        where vr.involved_id=#{id}
        ) as r

        order by r.operationTime desc
    </select>

    <select id="countRecord" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from
        (
        select concat('入库->',cd.code_value) as operation,ir.input_time as operationTime from sa_input_record ir
        left join xt_code cd on ir.input_type_id=cd.code_key and cd.type='INV_INPUT_TYPE'
        where ir.involved_id=#{id}
        union all
        select concat('出库->',cf.code_value) as operation,vr.output_time as operationTime from sa_output_record vr
        left join xt_code cf on vr.output_type_id=cf.code_key and cf.type='INV_OUTPUT_TYPE'
        where vr.involved_id=#{id}
        ) as r
    </select>

    <select id="listInRecordPhoto" resultMap="unownerMap" parameterType="java.util.Map">
        select url from sa_input_photo where involved_id=#{involvedId}
    </select>

    <select id="listOutRecordPhoto" resultMap="unownerMap" parameterType="java.util.Map">
        select url from sa_output_photo where involved_id = #{involvedId}
    </select>


</mapper>