.btn input.bc_photoout{width:88px;height:32px;border:none;background:url(image/photoout.png);}
.btn input.bc_photoon{width:88px;height:32px;border:none;background:url(image/photoon.png);}
.btn input.xx_changephoto{width:88px;height:32px;border:none;background:url(image/photoout.png);padding-left: 1px;}