@charset "utf-8";
/* CSS Document */
/*share*/
*{
	margin:0;
	padding:0;}
ul,li{
	list-style:none;}
a{   blr:expression(this.onFocus=this.blur());/*IE*/
    outline:none;/*火狐*/
	color:#333;
	text-decoration:none;}
a:hover{
	color:#010168;}
.clear{
	clear:both;
	height:0;
	overflow:hidden;}
body{
	color:#333;
	font:12px Microsoft Yahei;
	background:#010066; padding-bottom:10px;}	
/*end				share*/
.loginheader{ width:100%; height:80px; border-bottom:2px solid #ffffff;}
.loginheader img{ position:absolute; left:100px; top:10px;}

.loginmain{ background:url(../img/loginbj.jpg) no-repeat left top; width:834px; height:474px; margin:10px auto; position:relative}
.loginmain .nr{ width:450px; height:260px; position:absolute; top:95px; left:190px; background:#fff; }
.nrtop{border-bottom:2px solid #010165; height:40px; padding-top:15px;padding-bottom:15px; padding-left:70px; margin-bottom:20px;}
.nrtop img{ float:left;}
.nrtop span{ float:left; font-size:20px; color:#010168; line-height:40px;}

.zh{ font-size:16px;  color:#333333;}
.text{ width:220px; height:24px; border:1px solid #d4d4d4; line-height:24px; padding-left:5px;}
.submit{ background:#010165; border:0px; padding:0px;font-size:14px; color:#fff; line-height:25px; padding-left:30px; padding-right:30px; cursor:pointer; position:absolute; top:10px; right:50px;}



.loginfooter{
position:fixed;
bottom:10px;
 width:100%;height:30px!important; min-height:30px; height:30px; padding-top:10px; padding-bottom:10px; text-align:center; background:#ffffff; color:#333333;}